<% declare_content_for %>
<%= display_message flash %>

<div id="login_page">
	<% form_for @user, :url => '/password_resets', :html => { :id => 'password_reset' } do |f| %>
		<fieldset>
			<h2>Reset your password</h2>
		
			<div class="stack">
				<%= label_tag 'user[password]', 'Password' %>
				<div class="shadow_wrap">
					<%= password_field_tag 'user[password]', nil, :class => 'password' %>
				</div>
			</div>

			<div class="stack">
				<%= label_tag 'user[password_confirmation]', 'Confirm' %>
				<div class="shadow_wrap">
					<%= password_field_tag 'user[password_confirmation]', nil, :class => 'confirm' %>
				</div>
			</div>
		
			<div class="stack">
				<%= submit_tag 'Send', :class => 'bigblue_btn' %>
			</div>
		
		</fieldset>
	<% end %>
</div>