<p id="ao_top">Choose your options for a refined Self Storage search:</p>
	<div class="left">
		<div>
			<%= label_tag 'Type:' %>
			<%= select_tag 'storage_type', option_tags(@facility_features, 'Self Storage') %>
		</div>
		
		<div id="size_picker">
			<img src="/images/ui/storagelocator/unit_sizes/5x10-sm.png" alt="Size" />
		</div>
		
		<div>
			<%= label_tag 'Unit Size:' %>
			<%= select_tag 'storage_size', option_tags(@unit_sizes, nil, '') %>
		</div>
	</div>
	
	<div class="right">
		<div class="top">
			<div id="slide_wrap">
				<%= label_tag 'Within' %>
				<img class="arrow" src="/images/ui/storagelocator/less-arrow.png" alt="less" />
				<div class="advanced_slider"><span></span></div>
				<img class="arrow" src="/images/ui/storagelocator/more-arrow.png" alt="more" />
				<%= label_tag 'miles.' %>
				<%= hidden_field_tag :within, nil, :class => 'slider_val' %>
			</div>
			
			<div id="loc_btn">
				<%= submit_tag 'Locate', :class => 'grn_btn' %>
			</div>
		</div>
		
		<div class="bottom">
			<p><%= label_tag 'Features:' %></p>
			
			<div id="features">
				<% @unit_features.each do |feature| %>
					<div class="selectable_wrap">
						<div class="selectable"><%= check_box_tag 'storage_features[]', feature %></div>
						<%= label_tag feature %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>