<ul id="storage_types" class="dropdown">
	<li id="self_storage_li">
		<%= link_to 'Self Storage', self_storage_home_path, :class => "toplink#{' '+ active_page('/self-storage') if active_page('/self-storage')}" %>
		<ul>
			<li><%= link_to 'Mobile Storage', mobile_storage_home_path, :class => active_page('/mobile-storage') %></li>
			<li><%= link_to 'Cold Storage', cold_storage_home_path, :class => active_page('/cold-storage') %></li>
		</ul>
	</li>
	<li id="vehicle_storage_li">
		<%= link_to 'Vehicle Storage', vehicle_storage_home_path, :class => "toplink#{' '+ active_page('/vehicle-storage') if active_page('/vehicle-storage')}" %>
		<ul>
			<li><%= link_to 'Car Storage', car_storage_home_path, :class => active_page('/car-storage') %></li>
			<li><%= link_to 'RV Storage', rv_storage_home_path, :class => active_page('/rv-storage') %></li>
			<li><%= link_to 'Boat Storage', boat_storage_home_path, :class => active_page('/boat-storage') %></li>
		</ul>
	</li>
</ul>
<ul id="moving_help">
	<li><a href="/truck-rentals">Truck Rentals</a></li>
	<li><a href="/moving-companies">Moving Companies</a></li>
</ul>
<ul class="right">
	<li>
		<%= link_to_unless current_user, 'Log In', login_path, :id => 'login_link', :class => active_page(login_path) do |name|
			path = (current_user.has_role?('advertiser') ? client_account_path : user_path(current_user))
			html = link_to('My Account', path, :id => 'account_link', :class => active_page(path))
			html += link_to('Admin', admin_index_path, :id => 'admin_index_link', :class => active_page(admin_index_path)) if has_admin_access?
			html += link_to('Log out', logout_path)
			html
		end %>
	</li>
</ul>