<div id="narrow-box">
  	<h2>Storage Facility</h2>

	<div id="sl-fac-detail-in<%= '-edit' if action_name == 'edit' %>"<%= ' class="attr_editable"' if action_name == 'edit' %>>

	<img id="listing_img" src="/images/ui/storagelocator/bobs-logo.gif" alt="" width="164" height="120">
	
	<ul>
		<li id="location_display">
			<p class="info_heading"><strong>Location</strong></p>
			
			<div class="address">
				<span rel="address" class="block value"><%= edit_listing_address @listing %></span>
				<% unless @listing.map.nil? %>
					<span rel="city" class="value"><%= @listing.map.city %></span> <span rel="state" class="value"><%= @listing.map.state %></span> <span rel="zip" class="value"><%= @listing.map.prep_zip %></span>
				<% else %>
					<%= edit_listing_city_state_zip @listing %>
				<% end %>
			</div>
		</li>
		<li id="display_hours">
			<div class="access_hours">
				<% if @listing.access_24_hours %>
					<p class="info_heading"><strong>Access 24/7</strong></p>
				<% else %>
					<p class="info_heading"><strong>Access Hours:</strong></p>
					<ul>
						<%= render :partial => @listing.access_hours %>
					</ul>
				<% end %>
			</div>

			<div class="office_hours">
				<% if @listing.office_24_hours %>
					<p class="info_heading"><strong>Office Open 24/7</strong></p>
				<% else %>
					<p class="info_heading"><strong>Office Hours:</strong></p>
					<ul>
						<%= render :partial => @listing.office_hours %>
					</ul>
				<% end %>
			</div>
		</li>
	</ul>
	
	<%= render :partial => 'info_edit', :locals => { :model => [@listing, @map], :info => 'address' } if action_name == 'edit' %>
	</div>
</div>