<div id="narrow-box">
	<div id="sl-fac-detail-in">
		<%= display_logo @listing, :id => 'listing_img', :request => request %>

		<ul>
			<li id="location_display">
				<p class="info_heading">Location</p>
		
				<div class="address">
					<span rel="address" class="block value"><%= @listing.address %></span>
					<span class="value"><%= @listing.city %></span>, <span class="value"><%= @listing.state %></span> <span class="value"><%= @listing.zip %></span>
					
					<% if @listing.tracked_number %>
						<div id="sl-phone"><%= @listing.tracked_number %></div>
					<% end %>
				</div>
			</li>
			
			<% if @listing.premium? %>
				<li id="display_hours">
					<%= display_listing_hours(@listing) %>
				</li>
				<li id="display_features">
					<% @facility_features = @listing.facility_features.map(&:title) %>
					<% unless @facility_features.empty? %>
						<div class="facility_features">
							<p class="info_heading">Features</p>
							<ul class="greylist">
								<% @facility_features.each do |feature| %>
									<li class="feature_<%= feature.match(/^(24)/i) ? 'all-hour-access' : feature.parameterize %>"><%= feature %></li>
								<% end %>
							</ul>
						</div>
					<% end %>
				</li>
			<% elsif @listing.claimable? %>
				<li><%= claim_listing_link @listing %></li>
			<% end %>
	
			<% if false#@listing.premium? %>
				<li id="sl-seals">
					<p class="info_heading">Facility Affiliations</p>
					<div id="wrap">
						<img src="http://s3.amazonaws.com/storagelocator/images/ui/storagelocator/ssam-logo.png" alt="" />
					</div>
				</li>
			<% end %>
		</ul>
	</div>

	<%= link_to 'Edit this listing', edit_listing_path(@listing), :class => 'left_space' if user_is_a?('admin', 'staff') %> 
</div>