<div id="narrow-box">
  	<div id="sb-title">
		<h2>Storage Facility</h2>
	</div>

	<div id="sl-fac-detail-in<%= '-edit' if action_name == 'edit' %>"<%= ' class="attr_editable"' if action_name == 'edit' %>>

	<img id="listing_img" src="/images/ui/storagelocator/bobs-logo.gif" alt="" width="164" height="120">
	
	<ul>
		<li id="location_display" class="stack">
			<p class="info_heading">Location</p>
			
			<div class="address">
				<span rel="address" class="block value"><%= edit_listing_address @listing %></span>
				<% unless @listing.map.nil? %>
					<span rel="city" class="value"><%= @listing.map.city %></span> <span rel="state" class="value"><%= @listing.map.state %></span> <span rel="zip" class="value"><%= @listing.map.prep_zip %></span>
				<% else %>
					<%= edit_listing_city_state_zip @listing %>
				<% end %>
			</div>
		</li>
		<li id="display_features" class="stack">
			<% unless @facility_features.empty? %>
			<div class="facility_features">
				<p class="info_heading">Features</p>
				<ul class="greylist">
					<% @facility_features.each do |feature| %>
						<li><%= feature %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
		</li>
		<li id="display_hours" class="stack">
			<% unless @listing.access_24_hours.nil? && @listing.access_hours.empty? %>
			<div class="access_hours">
				<% if @listing.access_24_hours %>
					<p class="info_heading">Access 24/7</p>
				<% else %>
					<p class="info_heading">Access Hours:</p>
					<ul class="greylist">
						<%= render :partial => @listing.access_hours %>
					</ul>
				<% end %>
			</div>
			<% end %>
			<% unless @listing.office_24_hours.nil? && @listing.office_hours.empty? %>
			<div class="office_hours">
				<% if @listing.office_24_hours %>
					<p class="info_heading">Office Open 24/7</p>
				<% else %>
					<p class="info_heading">Office Hours:</p>
					<ul class="greylist">
						<%= render :partial => @listing.office_hours %>
					</ul>
				<% end %>
			</div>
			<% end %>
		</li>
	</ul>
	
	<%= render :partial => 'info_edit', :locals => { :model => [@listing, @map], :info => 'address' } if action_name == 'edit' %>
	</div>
</div>