<ul class="dnp">
	<li class="rslt-miles">
		<span class="shifted-text"><span><%= listing_distance(listing) %></span> Miles<%= ' away' if feat %></span>
	</li>
	
	<% if listing.premium? && (defined?(unit_size) && unit_size) %>
		<li class="rslt-size">
			<%= image_tag unit_size.icon.url if unit_size.icon %>
			<span class="size"><%= unit_size.display_dimensions %></span>
		</li>
		<li class="rslt-price">
		  	<ul>
				<% [['Upper', listing.get_upper_type_size(unit_size)], ['Lower', listing.get_interior_type_size(unit_size)], ['Drive Up', listing.get_drive_up_type_size(unit_size)]].each do |types| %>
					<% type, size = types %>
					
					<li class="<%= size.nil? ? 'disabled' : 'enabled' %>">
						<label<%= " title='#{size.description || size.title}' for='listing_#{context}_#{listing.id}_size_#{size.id}'" if size %>>
							<span class="type"><%= type %>:</span>
							<span class="price"><%= size ? number_to_currency(size.dollar_price) : "n/a" %></span>
						</label>
						<%= radio_button_tag "listing[#{context}][#{listing.id}][size]", size.id, nil, :class => 'unit_size hide' if size %>
					</li>
				<% end %>
			</ul>		
		</li>			
	<% end %>
</ul>