<div id="sl-fac-detail">
  <div id="sl-fac-detail-in-edit" class="attr_editable">
	<%= display_logo @listing, :id => 'listing_img' %>
	
	<div class="attr_wrap">
		<p class="field_group listing_title" rel="listing">
			<span class="value block" rel="title"><%= @listing.title %></span>
		</p>
		<p class="field_group address" rel="map">
			<span class="value block" rel="address"><%= @listing.address %></span>
			<span class="value left" rel="city"><%= @listing.city %></span><span class="left">,&nbsp;</span> 
			<span class="value" rel="state"><%= @listing.state %></span> 
			<span class="value" rel="zip"><%= @listing.zip %></span>
		</p>
	</div>
	
	<% form_for @listing, :html => { :id => 'listing_logo_form' } do |f| %>
		<div>
			<%= f.label :logo, 'New logo' %> 
			<%= f.file_field :logo, :size => 13, :class => 'text' %>
			<%= f.submit 'Upload', :id => 'listing_logo_upload' %>
			<%= hidden_field_tag :from, 'uplogo' %>
			<%= ajax_loader %>
		</div>
		
		<%= link_to 'Or choose a colorful logo', '/listings/logo_choices', :id => 'logo_picker', :class => 'open_small_partial', :title => 'Choose A Colorful Logo' %>
	<% end %>
	
	<%= render :partial => 'info_edit', :locals => { :model => [@listing, @listing.map], :info => 'address' } %>
  </div>
</div>