<div id="sl-tabs-feat" class="tab_content">
  <ul id="sl-tabs-feat-in">
    <% @facility_features.each do |feature| %>
      <li>
        <span class="facility_feature<%= ' selected' if @listing.has_feature?(feature) %>">
          <%= check_box_tag 'feature', feature, false, :class => 'hidden' %>
        </span>
        <span class="f"><%= feature %></span>
      </li>
    <% end %>
	
	<% if action_name == 'edit' %>
		<li class="add_feature">
			<% form_for [@listing, @facility_feature] do |f| %>
				<%= f.text_field :title, :class => 'hintable', :title => 'Custom feature' %>
				<%= f.submit 'Add' %>
			<% end %>
		</li>
	<% end %>
	
  </ul>
  
  <%= ajax_loader if action_name == 'edit' %>
</div>