<% cache get_search.cache_key do %>
	<% @featured_listing = Listing.get_featured_listing get_search.results %>
	<div class="shimmy">
		<div id="feat_wrap">
		
			<% unless request.xhr? %>
			<%= render :partial => 'shared/social_box' %>
		
		<% unless @featured_listing.nil? %>
			<div id="feat-list" class="listing">
				<h2>Featured Listing</h2>
				<div id="wrap">
					<div class="facility-logo">
						<%= display_logo(@featured_listing, { :class => (@featured_listing.pictures.empty? ? 'full' : 'short'), :request => request }) %>
					</div>
				
					<div id="name">
						<%= link_to @featured_listing.title, facility_path_for(@featured_listing) %>
					</div>

					<div id="address">
						<%= @featured_listing.full_address('<br />') %>
					</div>

					<% if @featured_listing.tracked_number %>
						<div id="phone">
							<%= @featured_listing.tracked_number %>
						</div>
					<% end %>
		
					<% if @featured_listing.special %>
					<div id="spec" class="special_txt" data-special-id="<%= @featured_listing.special.id %>">
						<p>Special</p>
						<%= @featured_listing.premium? && @featured_listing.special ? @featured_listing.special.title : $_usssl_discount %>
					</div>
					<% end %>

					<% unit_size = @featured_listing.get_closest_unit_size(@search.unit_size) || Size.get_from_unit_size(@search.unit_size) %>
					<%= render :partial => 'listings/distance_and_price', :locals => { :listing => @featured_listing, :feat => true, :context => 'featured', :unit_size => unit_size } %>
					<%= compare_link @featured_listing, 'featured' unless @featured_listing.sizes.empty? %>
			
					<div id="more-info">
						<%= link_to 'More Info', facility_path_for(@featured_listing), :class => 'btn', :title => "Read more about #{@featured_listing.title}" %>
					</div>
				</div>
			</div>
		<% end %>
		</div>
		
		<div id="activate_block">
			<h3>Self Storage Facility Owner?</h3>

			<p>Your facility is already listed just claim it and easily synchronize your inventory with your profile.</p>

			<span><a href="/self-storage-advertising">Claim Facility</a> or <br/>Call <strong>888-222-0225</strong></span>
		</div>
		
		<div id="credit-cards"><p>Rent a storage unit with:</p>
		                <img src="/images/ui/storagelocator/credit-cards.jpg" alt="Credit Cards Accepted"/>
		</div>
		
		<% end %>

	</div>
<% end %>
