<div class="listing <%= local_assigns.include?(:claimed) && claimed ? 'claimed unverified' : listing.status %>" id="Listing_<%= listing.id %>">
  	<div class="inner">
		<%= display_logo listing, :width => '102', :height => '77', :request => request %>
		
		<div class="rslt-contact">
	      	<%= edit_listing_title(listing) %>
	      	<p>
	        	<%= edit_listing_address(listing) %>
	        	<%= edit_listing_city_state_zip(listing) %>
	      	</p>
	    </div>
	
    	<ul class="listing_options">
      		<li class="<%= listing.new_record? ? 'new_listing_tips' : 'profile_completion' %>">
	        <% if listing.new_record? %>
	          	<p class="new_listing_tip">
					<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/green-arrow-left.gif" alt="Left Arrow" />
					<strong>Enter your facility's name.</strong>
				</p>
	        <% else %>
				<div class="progressbar"></div>
				<p>
					Profile Completion <span class="percent"><%= listing.percent_complete %>%</span>
					<%= help_pop_up_link 'help-prof-comp', :title => 'How To Complete Your Listing Profile' %>
				</p>
			<% end %>
      		</li>

      		<li class="action_btn">
			<% if listing.new_record? %>
				<%= link_to 'Save', listings_path, :class => 'crud_btn' %>
				<%= link_to 'Cancel', '#', :class => 'iconOnly16 cancel_link right', :title => 'Cancel adding a new facility' %>
			<% else %>
				<%= link_to 'Manage', profile_listing_path(listing), :class => 'crud_btn click_thru' %>
				<%= link_to 'Delete', listing_url(listing, :protocol => 'https'), :class => 'iconOnly16 delete_link delete_listing click_thru' if user_is_a?('admin', 'staff') %>
			<% end %>
      		</li>
			<%= content_tag :li, link_to('Admin Edit', edit_listing_url(listing, :protocol => 'https'), :class => 'note'), :class => 'right' if user_is_a? 'admin', 'staff' %>
    	</ul>
  	</div>
</div>
