<div id="narrow-box">
	<div id="sb-title">
		<h2>Narrow Your Search</h2>
	</div>
	<!--<form id="narrow_results_form" action="/self-storage" class="silent" method="get" name="narrow_results_form">-->
	<% form_for @search, :url => search_form_path('auto_search'), :html => { :id => 'narrow_results_form', :class => 'silent' } do |f| %>
		<div id="offset_search_box">
			<%= f.text_field :query, :value => @search.full_location, :class => 'hintable autocomplete', :title => 'Zip Code, City, or Street Address', :rel => 'UsCity_namesNstate|3' %>
			<%= reverse_captcha %>
			<%= f.submit 'Locate', :class => 'grn_btn' %>
		</div>
		<div id="advanced_opts">
			<div id="type_select">
				<%= f.label :storage_type, 'Type:' %>
				<%= f.select :storage_type, @facility_features, :selected => @search.storage_type, :class => 'auto' %>
			</div>
			
			<div id="size_option">
				<div id="size_picker">
					<%= image_tag @unit_size_icons.first.icon.url rescue 'Missing Size Icon' %>
				</div>
				<div>
					<%= f.label :unit_size, 'Unit Size:' %>
					<%= select_tag_for_unit_size_icons 'search[unit_size]', @search.unit_size, :class => 'auto' %>
				</div>
			</div>
			
			<div id="distance_btns">
				<%= f.label :within,"Distance in miles:" %>
				<div class="uncollapse">
					<% @distance_options.each do |distance| %>
						<div class="radio_wrap auto">
							<%= f.label "within_#{distance}", "#{distance}" %>							
							<div class="radio_select">
								<%= radio_button_tag 'search[within]', distance, (@search.within == distance.to_i) %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			
			<div id="unit_features" class="unitfeatures">
				<ul id="top_features">
				<% @top_features.each do |top_feature| %>
					<li class="selectable_wrap auto">
						<div class="selectable">
							<%= check_box_tag 'search[features]', top_feature %>
						</div>
						<%= label_tag top_feature %>
					</li>
				<% end %>
				</ul>
				
				<p><%= link_to 'More Features', { :anchor => 'show_.collapseable_.unitfeatures' }, :class => 'toggle_action toggle_right', :title => 'Show Features' %></p>
				
				<ul class="collapseable hide">
					<% @unit_features.each do |feature| %>
					<li class="selectable_wrap auto">
						<div class="selectable">
							<%= check_box_tag 'search[features]', feature %>
						</div>
						<%= label_tag feature %>
					</li>
					<% end %>
				</ul>
			</div>
			
		</div>
	<% end %>
</div>
