<div id="sl-tabs-overview" class="tab_content">	
	<div id="hed">
        <h2 id="fac_name"><span><%= @listing.title %></span> - <%= @listing.city %>, <%= @listing.state %></h2>

    </div>
	<div id="sl-intro">
		<% if @listing.premium? %>
			<div class="inner">
				<% if @listing.special %>
					<div id="special_wrap">
						<div class="dp">
							<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/usselfstoragelocator-sml.png" />
							<h3><%= @listing.title.titleize %></h3>
							<p><%= @listing.full_address %></p>
						</div>
						<div id="sl-special">
							<h3><%= @listing.special.title %></h3>
							<p class="np"><%= print_link '#special_wrap' %> and bring it, or select it if you <a href="#">Rent Online</a>.</p>
						</div>
					</div>
				<% end %>
				<div id="sl-descript">
					<p><%=h @listing.description %></p>
				</div>
			</div>
		<% end %>

		<% unless @listing.pictures.empty? %>
		<div id="sl-photos">
			<div id="main_pic_wrap">
				<%= image_tag @listing.pictures.first.image.url(:medium), :class => 'main_pic' unless @listing.pictures.empty? %>
			</div>
			<div id="previews">
				<% @listing.pictures.each do |picture| %>
					<%= link_to image_tag(picture.image.url(:thumb), :id => "Picture_#{picture.id}") %>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
	
	<% if @listing.renting_enabled? && !@listing.sizes.empty? %>
		<div id="rent_wrap">
			<h2>Rent a Unit</h2>
			<div class="realtime">Real-Time Storage Unit Rentals</div>
			<div id="rent_inner">
				<iframe src="<%= rack_rental_url @listing, @size, @special, true %>" id="secure_frame"></iframe>
			</div>
		</div>
	<% else %>
		<div id="req_wrap">
			<%= render :partial => 'views/partials/greyresults/request_info', :locals => { :model => @listing, :size => (@size || @listing.sizes.first) } %>
		</div>
	<% end %>
</div>