<% @listing = (@listing || @model) %>
<div id="sl-tabs-pict" class="inner">
  <div id="sl-tabs-pict-in">
	<% form_for Picture.new, :html => { :multipart => true } do |f| %>
		<div class="stack">
			<%= f.label :facility_image, 'Upload an image from your computer:' %>
			<%= f.file_field :facility_image, :size => 30 %>
			<%= f.hidden_field :listing_id, :value => @listing.id %>
			<%= hidden_field_tag 'format', 'js' %>
			<input type="submit" name="commit" class="ie_only" />
		</div>
	<% end if in_mode?('profile') && user_allowed?('pictures', 'create', params) %>
	
	<div class="gallery">
	    <ul id="sl-tabs-pict-gall">
	      <% @listing.pictures.sort_by(&:position).each_with_index do |picture, i| %>
	        <li>
				<%= image_tag picture.facility_image.url(:thumb), :id => "Picture_#{picture.id}", :class => ('active' if i == 0), :alt =>"" %>
				<%= link_to 'Delete', listing_picture_path(@listing, picture), :class => 'right delete_link', :title => 'Delete this picture' if in_mode?('profile')  %>
			</li>
	      <% end unless @listing.pictures.empty? %>
	    </ul>
		<div class="region">
	    	<%= image_tag @listing.pictures.sort_by(&:position).first.facility_image.url(:medium), :alt => '', :class => 'main_pic' unless @listing.pictures.empty? %>
		</div>
	</div>
  </div>
</div>