<% @listing = (@listing || @model) %>
<div id="sl-tabs-pict" class="inner">
  <div id="sl-tabs-pict-in">
	<div class="gallery">
	    <ul id="sl-tabs-pict-gall">
	      <% @listing.pictures.sort_by(&:position).each_with_index do |picture, i| %>
	        <li>
				<%= image_tag picture.facility_image.url(:thumb), :id => "Picture_#{picture.id}", :class => ('active' if i == 0), :alt =>"" %>
				<%= link_to 'Delete', listing_picture_path(@listing, picture), :class => 'iconOnly16 delete_link right', :title => 'Delete this picture' if action_name == 'edit' %>
			</li>
	      <% end unless @listing.pictures.empty? %>
	    </ul>

	    <%= image_tag @listing.pictures.sort_by(&:position).first.facility_image.url(:medium), :alt =>"", :class => 'big-pic' unless @listing.pictures.empty? %>
	</div>

	<% form_for Picture.new, :html => { :multipart => true } do |f| %>
		<div class="framed">
			<%= f.label :facility_image, 'Upload' %>
			<%= f.file_field :facility_image, :size => 10 %>
			<%= f.hidden_field :listing_id, :value => @listing.id %>
			<%= hidden_field_tag 'format', 'js' %>
		</div>
	<% end if action_name == 'edit' %>
	
  </div>
</div>