<h1 class="hidden">Self Storage Facility: <%= @listing.title.titleize %></h1>
<a name="top" id="top"></a>

<div id="type-one-r-col">
  <div id="type-three-r-col-in">
    
    <div id="sl-header">
      <h2><%= selective_abbrev(@listing.title).titleize %> <%= ' in '+ (@listing.city_and_state * ', ') unless @listing.map.lat.nil? %></h2>
      
		<% if in_edit_mode? %>
			<p class="editing-btn">
			  Facility edit mode
			  <%= hidden_field_tag 'client_id', @client.id %>
			  <%= hidden_field_tag 'listing_id', @listing.id %>
			</p>
		<% else %>
			<p class="back-btn"><%= link_to 'Back to Results', :back %></p>
		<% end %>
		
      <div class="clear"></div>
    </div>
   
  <%= render_hints_for :listing_detail %>
	<div id="listing_detail">
	    <div id="<%= in_edit_mode? ? 'sl-fac-detail' : 'sl-fac-dist' %>">
	      <div id="<%= in_edit_mode? ? 'sl-fac-detail-in-edit' : 'sl-fac-dist-in' %>"<%= ' class="attr_editable"' if in_edit_mode? %>>
			<% unless in_edit_mode? %>
				<p class="sl-dist">We are just <span id="rslt-number"><span><%= listing_distance_from %></span></span> miles from you!</p>
				<p class="sl-phone">Call: 1800 1800 180</p>
			<% else %>
				<img id="listing_img" src="/images/ui/storagelocator/bobs-logo.gif" alt="" />
				
				<div class="attr_wrap">
					<p class="field_group listing_title" rel="listing">
						<span class="value block" rel="title"><%= @listing.title %></span>
					</p>
					<p class="field_group address" rel="map">
						<span class="value block" rel="address"><%= @listing.address %></span>
						<span class="value" rel="city"><%= @listing.city %></span> 
						<span class="value" rel="state"><%= @listing.state %></span> 
						<span class="value" rel="zip"><%= @listing.zip %></span>
					</p>
				</div>
				
				<%= render :partial => 'info_edit', :locals => { :model => [@listing, @map], :info => 'address' } %>
			<% end %>
	      </div>
	    </div>
		
		<div id="sl-fac-coup">
	      <div id="sl-fac-coup-in<%= '-edit' if in_edit_mode? %>"<%= ' class="attr_editable"' if in_edit_mode? %>>
			<div class="attr_wrap">
				<div class="field_group" rel="web_special">
					<span class="special_label value" rel="label">
						<%= @web_special.label.blank? ? 'Exclusive Offer' : @web_special.label %>
					</span>
			        <span class="sl-special value" rel="title">
						<%= @web_special.title.blank? ? 'Write Your First Special!' : @web_special.title %>
					</span>
					<span class="special_desc value" rel="description">
						<%= @web_special.description.blank? ? 'Give it a friendly description if you want...' : @web_special.description %>
					</span>
					
					<p class="coup_code">
						<span class="left">Coupon Code:&nbsp;</span>
						<span class="coupon_code value" rel="coupon_code" title="Coupon"><%= @web_special.coupon_code.blank? ? 'ABC123' : @web_special.coupon_code %></span>
					</p>
				</div>
			</div>
			
			<p class="coup_sponsor">USSelfStorageLocator.com</p>
			
			<%= print_link('#sl-fac-coup') if in_mode? 'show' %>
	        <%= render :partial => 'info_edit', :locals => { :model => [@listing, @web_special], :info => 'special' } if in_edit_mode? %>
	      </div>
	    </div>
    </div>
    
  <%= render_hints_for :info_tabs %>
    <div id="sl-tabs">
      <div id="sl-tabs-in" class="tabular_content">
        <ul id="sl-tabs-nav" class="tabular">
			<%= content_tag :li, link_to('Hours', '#hours', :rel => 'sl-tabs-hours') if in_edit_mode? %>
			<%= content_tag :li, link_to('Map', '#map', :rel => 'sl-tabs-map') %>
          	<%= content_tag :li, link_to("Unit Sizes#{" (#{@listing.available_sizes.size})"}", '#unit_sizes', :rel => 'sl-tabs-sizes') unless in_edit_mode? ? @listing.sizes.empty? : @listing.available_sizes.empty? %>
          	<%= content_tag :li, link_to("Features#{" (#{@listing.facility_features.size})"}", '#features', :id => 'tab_Features', :rel => 'sl-tabs-feat') unless @facility_features.empty? && in_edit_mode? && @showing %>
          	<%= content_tag :li, link_to("Pictures#{" (#{@pictures.size})"}", '#pictures', :id => 'tab_Pictures', :rel => 'sl-tabs-pict') unless @pictures.empty? && @showing %>
        </ul>
        <!-- tab content -->
		<%= render :partial => 'hours' if in_edit_mode? %>
		<%= render :partial => 'big_map' %>
        <%= render :partial => 'sizes' unless in_edit_mode? ? @listing.sizes.empty? : @listing.available_sizes.empty? %>
        <%= render :partial => 'features' unless @facility_features.empty? && in_edit_mode? && @showing %>
        <%= render :partial => 'pictures' unless @pictures.empty? && @showing %>
      </div>
    </div>
     
  <%= render_hints_for :extras %>
	<div id="listing_extras">
	    <div id="sl-extra">
	      <h3>Lorem ipsum heading here</h3>
	      <p>
	        Lorem ipsum text can go here, Lorem ipsum text can go here, Lorem ipsum text can go here...
	      </p>
	    </div>
    
	    <div id="sl-logos">
	      <img src="/images/ui/storagelocator/test-logos.png" alt="recognitions">
	    </div>
	</div>
    <div id="sl-footer"></div>
    
  </div>
  
</div>