<h1 class="hidden">Self Storage Facility: <%= @listing.title.titleize %></h1>
<a name="top" id="top"></a>

<div id="type-one-r-col">
  <div id="type-three-r-col-in">
    
    <div id="sl-header">
      <h2><%= @listing.title.titleize %> <%= ' in '+ (@listing.city_and_state * ', ') unless @listing.map.lat.nil? %></h2>
      
		<% if action_name == 'edit' %>
			<p class="editing-btn">Facility edit mode</p>
		<% else %>
			<p class="back-btn"><%= link_to 'Back to Results', :back %></p>
		<% end %>
		
      <div class="clear"></div>
    </div>
    
    <div id="sl-fac-detail">
      <div id="sl-fac-detail-in<%= '-edit' if action_name == 'edit' %>"<%= ' class="attr_editable"' if action_name == 'edit' %>>
        <img id="listing_img" src="/images/ui/storagelocator/bobs-logo.gif" alt="" width="164" height="120">
		
		<p class="address_label"><strong>Location</strong></p>
        <p class="address">
          <span rel="address" class="block value"><%= edit_listing_address(@listing) %></span>
          <% unless @listing.map.nil? %>
            <span rel="city" class="value"><%= @listing.map.city %></span> <span rel="state" class="value"><%= @listing.map.state %></span> <span rel="zip" class="value"><%= @listing.map.prep_zip %></span>
          <% else %>
            <%= edit_listing_city_state_zip(@listing) %>
          <% end %>
        </p>
        
        <p class="clear tags">
          <strong>Category:</strong> <span rel="tag_list" class="value"><%= @listing.tag_list || '&nbsp;' %></span>
        </p>
		
		    <%= render :partial => 'info_edit', :locals => { :model => [@listing, @map], :info => 'address' } if action_name == 'edit' %>
      </div>
    </div>
    
    <div id="sl-fac-dist">
      <div id="sl-fac-dist-in<%= '-edit' if action_name == 'edit' %>"<%= ' class="attr_editable"' if action_name == 'edit' %>>
        <p class="sl-phone">Call: 1800 1800 180</p>
        <p class="sl-special value" rel="special"><%= @listing.display_special %></p>
        <p class="sl-dist">
          We are just <span id="rslt-number"><span>2</span></span> miles from you!
        </p>

        <%= render :partial => 'info_edit', :locals => { :model => [@listing, @special], :info => 'special' } if action_name == 'edit' %>
      </div>
    </div>
    <div class="clear"></div>
    
    <div id="sl-tabs">
      <div id="sl-tabs-in" class="tabular_content">
        <ul id="sl-tabs-nav" class="tabular">
          <%= content_tag :li, link_to('Unit Sizes', '#', :rel => 'sl-tabs-sizes') %>
          <%= content_tag :li, link_to('Map', '#', :rel => 'sl-tabs-map') %>
          <%= content_tag :li, link_to('Features', '#', :rel => 'sl-tabs-feat') %>
          <%= content_tag :li, link_to('Pictures', '#', :rel => 'sl-tabs-pict') %>
        </ul>
        
        <!-- tab content -->
        <%= render :partial => 'sizes' %>
        <%= render :partial => 'big_map' %>
        <%= render :partial => 'features' %>
        <%= render :partial => 'pictures' %>
        
      </div>
    </div>
    
    <div id="sl-extra">
      <h3>Lorem ipsum heading here</h3>
      <p>
        Lorem ipsum text can go here, Lorem ipsum text can go here, Lorem ipsum text can go here...
      </p>
    </div>
    
    <div id="sl-logos">
      <img src="/images/ui/storagelocator/test-logos.png" alt="recognitions">
    </div>
    <div id="sl-footer"></div>
    
  </div>
  
</div>