<h1 class="hidden">Self Storage Facility: <%= @listing.title.titleize %></h1>
<a name="top" id="top"></a>

<div id="type-one-r-col">
  <div id="type-three-r-col-in">
    
    <div id="sl-header">
      <h2><%= selective_abbrev(@listing.title).titleize %> <%= ' in '+ (@listing.city_and_state * ', ') unless @listing.map.lat.nil? %></h2>
      
		<% if in_edit_mode? %>
			<p class="editing-btn">
			  Facility edit mode
			  <%= hidden_field_tag 'client_id', @client.id %>
			  <%= hidden_field_tag 'listing_id', @listing.id %>
			</p>
		<% else %>
			<p class="back-btn"><%= link_to 'Back to Results', :back %></p>
		<% end %>
		
      <div class="clear"></div>
    </div>
   
	<% if in_mode? 'show' %>
		<div id="ls_top">
			<% if listing_distance_from %>
				<p class="sl-dist left">We are just <span id="rslt-number"><span><%= listing_distance_from %></span></span> miles from you!</p>
			<% end %>
			<p class="sl-phone right">Call: 1 (800) 180-0180</p>
		</div>
	<% end %>
	
  <%= render_hints_for :listing_detail %>
	<% unless in_mode?('show') && @web_special.nil? %>
		<div id="listing_detail">
			<%= render :partial => 'web_specials/web_special' %>
		
			<% if in_edit_mode? %>
				<%= render :partial => 'edit_detail' %>
			<% else %>
				<%# render :partial => 'pictures/thumb_gallery', :locals => { :images => @listing.pictures.map(&:facility_image) } %>
			<% end %>
	    </div>
	<% end %>

	<% if in_mode? 'show' %>
		<div id="outer_map">
			<%= render :partial => 'big_map' %>
		</div>
	<% end %>
    
  <%= render_hints_for :info_tabs %>
	<% unless in_mode?('show') && (@listing.available_sizes.empty? && @listing.pictures.empty?) %>
	    <div id="sl-tabs">
	      <div id="sl-tabs-in" class="tabular_content">
	        <ul id="sl-tabs-nav" class="tabular">
				<%= content_tag :li, link_to('Hours', '#hours', :rel => 'sl-tabs-hours') if in_edit_mode? %>
				<%= content_tag :li, link_to('Map', '#map', :rel => 'sl-tabs-map') if in_edit_mode? %>
	          	<%= content_tag :li, link_to("Unit Sizes#{" (#{@listing.available_sizes.size})"}", '#unit_sizes', :id => 'tab_Unit_Sizes', :rel => 'sl-tabs-sizes') unless in_mode?('show') && @listing.available_sizes.empty? %>
	          	<%= content_tag :li, link_to("Features#{" (#{@listing.facility_features.size})"}", '#features', :id => 'tab_Features', :rel => 'sl-tabs-feat') unless (@facility_features.empty? && @showing) || in_mode?('show') %>
	          	<%= content_tag :li, link_to("Pictures#{" (#{@pictures.size})"}", '#pictures', :id => 'tab_Pictures', :rel => 'sl-tabs-pict') unless @pictures.empty? && @showing %>
	        </ul>
	        <!-- tab content -->
			<%= render :partial => 'hours' if in_edit_mode? %>
			<%= render :partial => 'big_map' if in_edit_mode? %>
	        <%= render :partial => 'sizes' unless in_mode?('show') && @listing.available_sizes.empty? %>
	        <%= render :partial => 'features' unless (@facility_features.empty? && @showing) || in_mode?('show') %>
	        <%= render :partial => 'pictures' unless @pictures.empty? && @showing %>
	      </div>
	    </div>
	<% end %>
     
  <%= render_hints_for :extras %>
	<div id="listing_extras">
	    <div id="sl-extra">
	      <h3>Lorem ipsum heading here</h3>
	      <p>
	        Lorem ipsum text can go here, Lorem ipsum text can go here, Lorem ipsum text can go here...
	      </p>
	    </div>
    
	    <div id="sl-logos">
	      <img src="/images/ui/storagelocator/test-logos.png" alt="recognitions">
	    </div>
	</div>
    <div id="sl-footer"></div>
    
  </div>
  
</div>