<h1 class="hidden">Self Storage Facility: <%= @listing.title.titleize %></h1>
<a name="top" id="top"></a>

<div id="type-one-r-col">
	
  <div id="type-three-r-col-in">
    
      <%= render_hints_for :info_tabs %>
		<% unless in_mode?('show') && (@listing.available_sizes.empty? && @listing.pictures.empty?) %>
		    <div id="sl-tabs">
		      <div id="sl-tabs-in" class="tabular_content">
		        <ul id="sl-tabs-nav" class="tabular">
					<%= content_tag :li, link_to("Overview", '#overview', :id => 'tab_Overview', :rel => 'sl-tabs-overview') %>
					<%= content_tag :li, link_to("Unit Sizes#{" (#{in_mode?('edit') ? @listing.sizes.size : @listing.available_sizes.size})"}", '#unit_sizes', :id => 'tab_Unit_Sizes', :rel => 'sl-tabs-sizes') unless in_mode?('show') && @listing.available_sizes.empty? %>
					<%= content_tag :li, link_to('Hours', '#hours', :rel => 'sl-tabs-hours') if in_edit_mode? %>
					<%= content_tag :li, link_to('Map', '#map', :rel => 'sl-tabs-map') if in_edit_mode? %>
		          	<%= content_tag :li, link_to("Features#{" (#{@listing.facility_features.size})"}", '#features', :id => 'tab_Features', :rel => 'sl-tabs-feat') unless (@facility_features.empty? && @showing) || in_mode?('show') %>
					<% if @listing.premium? %><div id="sl-phone">Call (561) 342-1984</div><% end %>
		        </ul>
		        <!-- tab content -->
				<div id="sl-tabs-overview" class="tab_content">
					<h2 id="fac_name"><span><%= @listing.title %></span> - <%= @listing.map.city %>, <%= @listing.map.state %></h2>
					<div id="ratings">Rating: <img src="/images/ui/storagelocator/rating-stars.png" /></div>
					<div id="sl-intro">
						<div id="inner">
							<div id="sl-special">
								<h3>Thanksgiving Day Special <br /><span>25% Off</span><br /> on all Packing Supplies</h3><p><a href="">Print</a> coupon and bring it in, or select it if you <a href="">Rent Online</a>.</p>
							</div>
							<div id="sl-descript">
								<p>Your North Miami Beach Self Storage location, one block of 163rd Street and 5 minutes from the 163rd Street Mall and Sunny Isles Beach. Located behind Potamking Honda. All units are ground floor with some accessible via roll up latter for even bigger savings. We offer the FIRST MONTH FREE and up to 4 months free (call us for details). American International Self Storage serves the cities of North Miami Beach, Miami, North Miami, Miami Gardens, Aventura, Sunny Isles, Miami Beach and many more.</p>
							</div>
						</div>
						<div id="sl-photos">
							<img src="/images/ui/storagelocator/temp-images/facility-picture.png" />
							<div id="previews">
								<a href=""><img src="/images/ui/storagelocator/temp-images/preview1.png" /></a>
								<a href=""><img src="/images/ui/storagelocator/temp-images/preview2.png" /></a>
								<a href=""><img src="/images/ui/storagelocator/temp-images/preview3.png" /></a>
								<a href=""><img src="/images/ui/storagelocator/temp-images/preview4.png" /></a>
							</div>
						</div>
					</div>

				</div>
				<%= render :partial => 'sizes' unless in_mode?('show') && @listing.available_sizes.empty? %>
				<%= render :partial => 'hours' if in_edit_mode? %>
				<%= render :partial => 'big_map' if in_edit_mode? %>
		        <%= render :partial => 'features' unless (@facility_features.empty? && @showing) || in_mode?('show') %>
		      </div>
		    </div>
		<% end %>	
		
		<div id="rent-form">
			<h2>Rent a Unit</h2>
			<div id="realtime">Real-Time Storage Unit Rentals</div>
			<div id="inner">
				<div id="head">Use this form to rent a unit from <span><%= @listing.title %></span> and take advantage of their <span>Online Specials</span>.</div>
				<div id="col1">
						<div>Type: 
							<select class="" name="unitType" id="unitType">
								<option value="INTERIOR">Interior</option>
								<option value="UPPER">Upper</option>
								<option value="DRIVEUP">Drive-up</option>
							</select>
						</div>
						<div>Size: 
							<select class="" id="unitsize" name="">
								<option value="1">Choose a size</option>
								<option value="2">5 x 5</option>
								<option value="3">5 x 10</option>
								<option value="4">5 x 15</option>
								<option value="5">10 x 10</option>
								<option value="6">10 x 15</option>
								<option value="7">10 x 20</option>
								<option value="8">10 x 30</option>
							</select>
						</div>
						<div>Rate: <span>$51.50/month</span></div>
						<div>Specials:
							<ul>
								<li><input type="radio" value="" name="specialOffer"> First Month Free</li>
								<li><input type="radio" value="" name="specialOffer"> 50% Off first 3 months</li>
								<li><input type="radio" value="" name="specialOffer"> 33% Off first 6 months</li>
								<li><input type="radio" value="" name="specialOffer"> Free Moving Truck w/unit rental*</li>
								<li><input type="radio" value="" name="specialOffer"> 10% Off Packing Supplies</li>
							</ul>
						</div>
						<div>Move in Date: <span>12/05/10</span>&nbsp;&nbsp;&nbsp;&nbsp;Through: <span>02/28/11</span></div>
				</div>
				<div id="col2"><img src="/images/ui/storagelocator/10x10.png" /></div>
				<div id="col3">
					<ul>
						<li>Rent: <span class="grey">(2.87 x $51.50)</span> <span>$147.85</span></li>
						<li>Special Offer: <span>-$73.93</span></li>
						<li>Admin Fees: <span>$20.00</span></li>
						<li>Tax: <span>$4.75</span></li>
						<hr />
						<li id="total">Move-In Total: <span>$92.56</span></li>
					</ul>
					<a href="" id="rent-btn">Rent it!</a>
				</div>
			</div>
		</div>
	

   
	
  <%= render_hints_for :listing_detail %>
	<% unless in_mode?('show') && @web_special.nil? %>
		<div id="listing_detail">
			<%= render :partial => 'web_specials/web_special' %>
		
			<% if in_edit_mode? %>
				<%= render :partial => 'edit_detail' %>
			<% else %>
				<%# render :partial => 'pictures/thumb_gallery', :locals => { :images => @listing.pictures.map(&:facility_image) } %>
			<% end %>
	    </div>
	<% end %>

	<% if in_mode? 'show' %>
		<div id="outer_map">
			<div id="street-view"></div>
			<%= render :partial => 'big_map' %>
		</div>
	<% end %>
     
  <%= render_hints_for :extras %>
	<div id="listing_extras">
	    <div id="sl-extra">
	    
	    </div>
	</div>

    
  </div>
  
</div>