<h1 class="hidden">Self Storage Facility: <%= @listing.title.titleize %></h1>
<a name="top" id="top"></a>

<div id="type-one-r-col">
  <div id="type-three-r-col-in">
    
    <div id="sl-header">
      <h2><%= @listing.title.titleize %> <%= ' in '+ (@listing.city_and_state * ', ') unless @listing.map.lat.nil? %></h2>
      
		<% if action_name == 'edit' %>
			<p class="editing-btn">
			  Facility edit mode
			  <%= hidden_field_tag 'client_id', @client.id %>
			  <%= hidden_field_tag 'listing_id', @listing.id %>
			</p>
		<% else %>
			<p class="back-btn"><%= link_to 'Back to Results', :back %></p>
		<% end %>
		
      <div class="clear"></div>
    </div>
   
  <%= render_hints_for :listing_detail %>
	<div id="listing_detail">
	    <div id="sl-fac-dist">
	      <div id="sl-fac-dist-in<%= '-edit' if action_name == 'edit' %>"<%= ' class="attr_editable"' if action_name == 'edit' %>>
			<% unless action_name == 'edit' %>
				<p class="sl-dist">We are just <span id="rslt-number"><span><%= listing_distance_from %></span></span> miles from you!</p>
			<% end %>
			
	        <p class="sl-phone">Call: 1800 1800 180</p>

	        <%= render :partial => 'info_edit', :locals => { :model => [@listing, @special], :info => 'special' } if action_name == 'edit' %>
	      </div>
	    </div>
		
		<div id="sl-fac-coup">
	      <div id="sl-fac-coup-in<%= '-edit' if action_name == 'edit' %>"<%= ' class="attr_editable"' if action_name == 'edit' %>>
			<p class="special_label">Exclusive Offer</p>
	        <p class="sl-special value" rel="special">1st Month Free<%#= @listing.display_special %></p>
			<p class="special_desc">Reserve today and get the first month off your monthly rate.</p>
			
			<a href="#" class="ps icon16">Print</a>
	        <%= render :partial => 'info_edit', :locals => { :model => [@listing, @special], :info => 'special' } if action_name == 'edit' %>
	      </div>
	    </div>
    </div>
    
  <%= render_hints_for :info_tabs %>
    <div id="sl-tabs">
      <div id="sl-tabs-in" class="tabular_content">
        <ul id="sl-tabs-nav" class="tabular">
			<%= content_tag :li, link_to('Map', '#map', :rel => 'sl-tabs-map') %>
          	<%= content_tag :li, link_to('Unit Sizes', '#unit_sizes', :rel => 'sl-tabs-sizes') unless @listing.available_sizes.empty? && @showing %>
          	<%= content_tag :li, link_to('Features', '#features', :rel => 'sl-tabs-feat') unless @facility_features.empty? && @showing %>
          	<%= content_tag :li, link_to('Pictures', '#pictures', :rel => 'sl-tabs-pict') unless @pictures.empty? && @showing %>
        </ul>
        <!-- tab content -->
		<%= render :partial => 'big_map' %>
        <%= render :partial => 'sizes' unless @listing.available_sizes.empty? && @showing %>
        <%= render :partial => 'features' unless @facility_features.empty? && @showing %>
        <%= render :partial => 'pictures' unless @pictures.empty? && @showing %>
      </div>
    </div>
     
  <%= render_hints_for :extras %>
	<div id="listing_extras">
	    <div id="sl-extra">
	      <h3>Lorem ipsum heading here</h3>
	      <p>
	        Lorem ipsum text can go here, Lorem ipsum text can go here, Lorem ipsum text can go here...
	      </p>
	    </div>
    
	    <div id="sl-logos">
	      <img src="/images/ui/storagelocator/test-logos.png" alt="recognitions">
	    </div>
	</div>
    <div id="sl-footer"></div>
    
  </div>
  
</div>