<div id="listing_<%= result.id %>" class="listing">
	<div class="inner">
		<div class="in">
			<div class="rslt-title">
				<h3><%= link_to result.title, facility_path(result.title.parameterize, result.id) %></h3>
			</div>

			<div class="num_icon"><%= result_index(result) %></div>
			
			<div class="facility-logo">
				<img src="/images/ui/storagelocator/bobs-logo.gif" alt="" width="102" height="77">
			</div>
			<div class="rslt-contact">

				<p>
					<span class="rslt-address"><%= result.map.address %></span><br>
					<span class="rslt-citystate"><%= result.map.city_state_zip %></span>
				</p>
				<p>
					<span class="rslt-phone">1-800-567-4321</span>
				</p>
			</div>
			<ul>
				<li class="rslt-miles">
					<span class="shifted-text"><span><%= listing_distance(result) %></span>Miles</span>
				</li>
			
				<li class="rslt-features">
				  <!--	<% unless result.user_id.blank? %>
						<ul>
							<li>24 Hour Access</li>
							<li>Climate Controlled</li>	
							<li>Business Center</li>
							<li>Boxes and Packing Supplies</li>
						</ul>
					<% end %> -->
				</li>
			
				<li class="rslt-reserve">
					<%= results_main_button(result) %>
				</li>
			</ul>
		</div>
		
		<div class="unit_detail">
			<%= render :partial => 'listings/unit_detail', :locals => { :listing => result } %>
		</div>
	</div>
	
	<div class="panel hidden"></div>
	
	<ul class="tabs">
		<li class="open_tab_li">
			<%= link_to '+', '#', :class => 'open_tab' %>
		</li>
		<li class="fac-map">
			<%= link_to 'Directions', result.get_partial_link(:map), :rel => 'map', :class => 'tab_link' %>
		</li>
		
		<li class="fac-sizes<%= ' hide' if result.available_sizes.empty?%>">
			<%= link_to "Sizes#{" (#{result.available_sizes.size})"}", result.get_partial_link(:sizes), :rel => 'sizes', :class => "tab_link" %>
		</li>
		
		<li class="fac-specials<%= ' hide' if result.specials.empty? %>">
			<%= link_to "Specials#{" (#{result.specials.size})"}", result.get_partial_link(:specials), :rel => 'specials', :class => "tab_link" %>
		</li>
		
		<li class="fac-pictures<%= ' hide' if result.pictures.empty? %>">
			<%= link_to "Pictures#{" (#{result.pictures.size})"}", result.get_partial_link(:pictures), :rel => 'pictures', :class => "tab_link" %>
		</li>
		
		<li class="fac-reviews<%= ' hide' if result.reviews.empty? %>">
			<%= link_to "Reviews#{" (#{result.reviews.size})"}", result.get_partial_link(:reviews), :rel => 'reviews', :class => "tab_link" %>
		</li>
	</ul>
	<div class="highlight-green progress">&nbsp;</div>
</div>
