<div id="listing_<%= result.id %>" class="listing<%= ' premium' if result.premium? %>" data-renting-enabled="<%= result.renting_enabled? %>">
	<div class="inner">
		<div class="in">
			<div class="rslt-title">
				<h3 title="<%= result.title %>"><%= link_to_if result.premium?, result.title.truncate(31), facility_path_for(result), :class => "profile_link" %></h3><%= link_to 'More Info', facility_path_for(result), :class => "profile_info_link" if result.premium? %>
			
				<% if result.premium? %>
					<% @features = result.facility_features.map(&:title)[0, 12] %>
					<% unless @features.empty? %>
						<div class="rslt-features">
							<% @features.each do |feature| %>
								<a href="#" class="<%= feature.match(/^(24)/) ? 'all-hour-access' : feature.parameterize %>" title="<%= feature %>"><%= feature %></a>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>

			<div class="num_icon">
				<%= result_index(result) %>
			</div>
		
			<div class="facility-logo">
				<%= display_logo result, :width => '102', :height => '77', :request => request %>
			</div>
		
			<div class="rslt-contact">
				<p>
					<span class="rslt-address"><%= result.address %>,</span><br />
					<span class="rslt-citystate"><%= result.city_state_zip %></span>
				</p>
				
				<p><span class="rslt-phone">
					<% if result.premium? && result.tracked_number %>
						<%= result.tracked_number %>
					<% elsif !result.phone.blank? %>
						<a class="click_to_view" title="View Phone Number" href="/ajax/update_stat?model=Listing&id=<%= result.id %>&stat=phone_views">
							<%= result.phone %>
						</a>
					<% end %>
				</span></p>
				
				<%= claim_listing_link(result, :class => 'claim') if result.claimable? %>
			</div>
		
			<% unit_size = result.get_closest_unit_size(@search.unit_size) || Size.get_from_unit_size(@search.unit_size) %>
			<%= render :partial => 'listings/distance_and_price', :locals => { :listing => result, :feat => false, :context => 'results', :unit_size => unit_size } %>
		
			<div class="action_btn<%= listing_action_btn_class(result) %>">
				<%= results_main_button(result, unit_size) %>
			</div>
		</div>
	
		<% if result.premium? %>
			<div class="unit_detail">
				<%= render :partial => 'unit_detail', :locals => { :listing => result } %>
			</div>
		<% end %>
	</div>

	<div class="panel"></div>

	<ul class="tabs">
		<li class="open_tab_li">
			<%= link_to '+', '#', :class => 'open_tab' %>
		</li>
		<li class="fac-map">
			<%= link_to 'Directions', result.get_partial_link(:map), :rel => 'map', :class => 'tab_link' %>
		</li>
		<li class="fac-sizes<%= ' hide' if result.available_sizes.empty?%>">
			<%= link_to "All Sizes#{" (#{result.available_sizes.size})"}", result.get_partial_link(:sizes), :rel => 'sizes', :class => 'tab_link' %>
		</li>
		<li class="fac-pictures<%= ' hide' if result.pictures.empty? %>">
			<%= link_to "Pictures#{" (#{result.pictures.size})"}", result.get_partial_link(:pictures), :rel => 'pictures', :class => 'tab_link' %>
		</li>
		<li class="fac-reviews">
			<%= link_to "Reviews#{" (#{result.reviews.published.size})" unless result.reviews.published.empty?}", result.get_partial_link(:reviews), :rel => 'reviews', :class => 'tab_link' %>
		</li>
	</ul>
	<div class="highlight-green progress"></div>
</div>