<div id="listing_<%= result.id %>" class="listing<%= ' premium' if result.premium? %>" has-res="<%= result.accepts_reservations? %>">
	<div class="inner">
		<div class="in">
			<div class="rslt-title">
				<h3><%= link_to result.title, facility_path(result.title.parameterize, result.id) %></h3>
				
				<% if result.premium? %>
					<div class="rslt-features">
						<a href="#" class="hours" title="Open 24 Hours"></a>
						<a href="#" class="security" title="Security Cameras"></a>
						<a href="#" class="keypad" title="Keypad Entry"></a>
						<a href="#" class="ac" title="Air Conditioned"></a>
						<a href="#" class="driveup" title="Drive Up Access"></a>
						<a href="#" class="climate" title="Climate Controlled"></a>
						<a href="#" class="spanish" title="Hablamos Español"></a>
					</div>
				<% end %>
			</div>

			<div class="num_icon"><%= result_index(result) %></div>
			
			<div class="facility-logo">
				<img class="logo" src="/images/ui/storagelocator/bobs-logo.gif" alt="" width="102" height="77">
			</div>
			
			<div class="rslt-contact">
				<p>
					<span class="rslt-address"><%= result.map.address %></span><br />
					<span class="rslt-citystate"><%= result.map.city_state_zip %></span>
				</p>
				<% if result.premium? %>
					<p><span class="rslt-phone">1-800-567-4321</span></p>
				<% end %>
			</div>
			
			<ul>
				<li class="rslt-miles">
					<span class="shifted-text"><span><%= listing_distance(result) %></span>Miles</span>
				</li>
			
				<% if (unit_size = result.get_closest_unit_size(params[:storage_size])) %>
					<li class="rslt-size">
						<%= image_tag unit_size.icon(:thumb).icon.url %>
						<span class="size"><%= unit_size.display_dimensions %></span>
					</li>
					<li class="rslt-price">
					  	<ul>
							<% unless (@upper_type_size = result.get_upper_type_size(unit_size)).nil? %>
								<li>
									<label title="<%= @upper_type_size.description || @upper_type_size.title %>" for="listing[<%= result.id %>][unit_size]">
										Upper:<span class="price"><%= number_to_currency @upper_type_size.dollar_price %></span>
									</label>
									<%= radio_button_tag "listing[#{result.id}][unit_size]", @upper_type_size.id %>
								</li>
							<% end %>
							
							<% unless (@drive_up_type_size = result.get_drive_up_type_size(unit_size)).nil? %>
								<li>	
									<label title="<%= @drive_up_type_size.description || @drive_up_type_size.title %>" for="listing[<%= result.id %>][unit_size]">
										Drive Up:<span class="price"><%= number_to_currency @drive_up_type_size.dollar_price %></span>
									</label>
									<%= radio_button_tag "listing[#{result.id}][unit_size]", @drive_up_type_size.id %>
								</li>
							<% end %>

							<% unless (@interior_type_size = result.get_interior_type_size(unit_size)).nil? %>
								<li>	
									<label title="<%= @interior_type_size.description || @interior_type_size.title %>" for="listing[<%= result.id %>][unit_size]">
										Interior:<span class="price"><%= number_to_currency @interior_type_size.dollar_price %></span>
									</label>
									<%= radio_button_tag "listing[#{result.id}][unit_size]", @interior_type_size.id %>
								</li>
							<% end %>
						</ul>		
					</li>			
				<% end %>
				
				<li class="action_btn<%= listing_action_btn_class(result) %>">
					<%= results_main_button(result) %>
				</li>
			</ul>
		</div>
		
		<% if result.premium? %>
			<div class="unit_detail">
				<%= render :partial => 'unit_detail', :locals => { :listing => result } %>
			</div>
		<% end %>
	</div>
	
	<div class="panel"></div>
	
	<ul class="tabs">
		<li class="open_tab_li">
			<%= link_to '+', '#', :class => 'open_tab' %>
		</li>
		<li class="fac-map">
			<%= link_to 'Directions', result.get_partial_link(:map), :rel => 'map', :class => 'tab_link' %>
		</li>
		
		<li class="fac-sizes<%= ' hide' if result.available_sizes.empty?%>">
			<%= link_to "Sizes#{" (#{result.available_sizes.size})"}", result.get_partial_link(:sizes), :rel => 'sizes', :class => "tab_link" %>
		</li>
		
		<li class="fac-specials<%= ' hide' if result.specials.empty? %>">
			<%= link_to "Specials#{" (#{result.specials.size})"}", result.get_partial_link(:specials), :rel => 'specials', :class => "tab_link" %>
		</li>
		
		<li class="fac-pictures<%= ' hide' if result.pictures.empty? %>">
			<%= link_to "Pictures#{" (#{result.pictures.size})"}", result.get_partial_link(:pictures), :rel => 'pictures', :class => "tab_link" %>
		</li>
		
		<li class="fac-reviews<%= ' hide' if result.reviews.empty? %>">
			<%= link_to "Reviews#{" (#{result.reviews.size})"}", result.get_partial_link(:reviews), :rel => 'reviews', :class => "tab_link" %>
		</li>
	</ul>
	<div class="highlight-green progress">&nbsp;</div>
</div>
