<div id="sl-tabs-sizes" class="tab_content">
	
	<%= link_to 'Add Unit', '#', :id => 'new_unit', :class => 'btn' if action_name == 'edit' %>
	
  <div id="sl-tabs-sizes-in">
    <ul class="sl-table-head">
      <li class="st-size">Size</li>
      <li class="st-type">Type</li>
      <li class="st-pric">Price</li>
      <li class="st-spec">Special</li>
    </ul>
	
    <% @sizes.each do |size| %>
			<div class="sl-table-wrap">
				<ul class="sl-table<%= ' open_reserve_form' if action_name == 'show' %>">
					<li class="st-size"><%= size.display_dimensions %></li>
					<li class="st-type"><%= size.description %></li>
					<li class="st-pric"><%= number_to_currency size.dollar_price %></li>
					<li class="st-spec" title="<%= size.special.blank? ? 'None available' : size.special %>"><%= size.special.blank? ? 'NONE' : size.special %></li>
					<li class="st-rese">
						<% if action_name == 'edit' %>
							<%= link_to 'Edit', listing_size_path(@listing, size), :class => 'edit-btn' %>
							<%= hidden_field_tag 'size_id', size.id, :id => "size_#{size.id}" %>
						<% else %>
							<a href="#" class="rsr-btn">Reserve</a>
						<% end %>
					</li>
					<li class="st-sele">
						<%= link_to 'Cancel', '#', :class => 'hidden cancel_link iconOnly16 right', :title => 'Cancel' %>
					</li>
				</ul>

				<% if action_name == 'show' %>
					<div class="reserve_form hidden">
						<%= render :partial => 'views/partials/greyresults/reserve', :locals => { :listing => @listing } %>
					</div>
				<% end %>
	
				<% if action_name == 'edit' %>
					<% form_for [@listing, size], :html => { :class => 'hidden hidden_form' }, :method => :put do |f| %><% end %>
				<% end %>
			</div>
    <% end %>
  </div>
</div>