<div id="compare_wrap">
	<div id="compare_map">
	</div>

	<div class="uncollpase stack">
		<table cellpadding="0" cellspacing="0">
			<tbody>
				<% @comparables.each_with_index do |comparable, i| %>
					<% compare = comparable[0]; subcomps = comparable[1] %>
					<tr>
						<% if i == 0 %>
							<th><%= i %></th>
						<% else %>
							<th><%= i %>
								<% if subcomps == :self %>
									<span class="comp_label"><%= compare.to_s.titleize %></span>
								<% elsif subcomps.is_a? Array %>
									<span class="comp_label"><%= compare.to_s.titleize %></span>
								
									<ul class="sub_comp_list">
										<% subcomps.each do |subcomp| %>
											<li><%= subcomp.to_s.titleize %></li>
										<% end %>
									</ul>
								<% end %>
							</th>
						<% end %>
						
						<% @listings.size.times do |j| %>
							<% if j == 0 %>
								<td><%= j %><%= link_to selective_abbrev(@listings[j].title).titleize, facility_path(@listings[j].title.parameterize, @listings[j].id) %></td>
							<% else %>
								<td><%= j %>
									<% if subcomps == :self %>
										<span class="compared"><%= @listings[j].display_compared compare %></span>
										
									<% elsif subcomps.is_a? Array %>
										<ul>
										<% subcomps.each do |subcomp| %>
											<li><%= @listings[j].display_compared subcomp %></li>
										<% end %>
										</ul>
									<% end %>
								</td>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>