<% declare_content_for %>
<% content_for :scripts, "<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{GOOGLE_APPLICATION_ID}' type='text/javascript'></script>
" %>
<%= display_message flash %>


<div id="type-one-r-col-in">
  <div id="results_header">
    <h2>Comparing <%= @listings.size %> self storage facilities <%= "in #{@location.city}, #{@location.state}" unless @location.blank? %></h2>
	<%= link_to '<span>Show Map</span>'+ image_tag('/images/ui/storagelocator/map-option-btn.png'), '#show_open-map', :id => 'top_map_btn', :rel => ("#{@location.lat},#{@location.lng}" unless @location.blank?) %>
  </div>
</div>

<script type="text/javascript">
Gmaps_data = <%= @maps_data.to_json %>;
</script>
<div id="main_map">
</div>

<div id="compare_view">
	<% @listings.each_with_index do |listing, i| %>
		
		<div class="compare_listing<%= ' last' if i == @listings.size-1 %>">
			<h3><%= listing.title %></h2>
			<ul>
				<% listing.compare_attributes.each_with_index do |attrs, j| %>
				<li class="<%= j % 2 == 0 ? 'even' : 'odd' %>"><span class="key"><%= attrs.keys.first %></span><span class="val"><%= attrs.values.first %></span></li>
				<% end %>
			</ul>
		</div>
		
	<% end %>
</div>