<% declare_content_for %>
<% content_for :scripts, "<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{GOOGLE_APPLICATION_ID}' type='text/javascript'></script>
" %>
<%= display_message flash %>


<div id="type-one-r-col-in">
  <div id="results_header">
    <h2>Comparing <%= @listings.size %> self storage facilities <%= "in #{@location.city}, #{@location.state}" unless @location.blank? %></h2>
	<%= link_to '<span>Show Map</span>'+ image_tag('/images/ui/storagelocator/map-option-btn.png'), '#show_open-map', :id => 'top_map_btn', :rel => ("#{@location.lat},#{@location.lng}" unless @location.blank?) %>
  </div>
</div>

<script type="text/javascript">
Gmaps_data = <%= @maps_data.to_json %>;
</script>
<div id="main_map">
</div>

<div class="uncollpase stack">
	<ul id="compare_labels">
		<li class="odd">Reservations</li>
		<li>Average Rate</li>
		<li class="odd">24 Hour Access</li>
	</ul>

	<div id="compare_view">
		<% @listings.each_with_index do |listing, i| %>
			<div id="listing_<%= listing.id %>" class="compare_listing<%= ' last' if i == @listings.size-1 %>">
				<h3><%= link_to selective_abbrev(listing.title).titleize, facility_path(listing.title.parameterize, listing.id) %></h2>
				<ul>
					<li class="odd"><%= listing.accepts_reservations? ? 'Yes' : 'No' %></li>
					<li><%= listing.average_rate == 'N/A' ? 'N/A' : number_to_currency(listing.average_rate) %></li>
					<li class="odd"><%= listing.access_24_hours ? 'Yes' : 'No' %></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>

<p><%= link_to 'Back To Results', :back %></p>