<div id="compare_wrap">
    <div id="compare_map"></div>
    <div class="uncollapse">
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr class="odd">
                    <th id="unit_size" class="column"><span id="label">Unit Size:</span><span id="size"><%= @search.unit_size %></span></th>
					<% @listings.each do |listing| %>
                    	<th class="column"><%= display_logo listing %></th>
					<% end %>
                </tr>
				
				<% Listing.comparables.each do |comp| -%>
					<tr class="<%= cycle('even', 'odd') %>">
	                    <th id="<%= comp %>"><span class="comp_label"><%= comp.titleize %>:</span></th>
						<% @listings.each do |listing| %>
							<%= display_comparison(comp, listing) %>
						<% end %>
	                </tr>
				<% end %>
				
                <tr>
                    <th id="usssl-special" title="We offer a 10% off the move in cost on top of the facility's own special discount!">USSSL Discount<br /><%= $_usssl_discount %><br />Applied To All Facilities</th>
                    <% @listings.each do |listing| %>
						<td><a class="rent-btn" href="<%= facility_path listing.storage_type, listing.title, listing.id %>">Rent It!</a></td>
					<% end %>
                </tr>
            </tbody>
        </table>
    </div>
</div>