<% declare_content_for %>

<div class="staticContent">
	<div id="type-one-r-col">
		<div id="type-three-r-col-in">
			<div id="sl-edit-tabs">
				<div id="sl-tabs-in" class="tabular_content">
					<h2 id="fac_name"><span><%= @listing.title %></span> - <%= @listing.map.city %>, <%= @listing.map.state %></h2>
					<ul id="sl-tabs-nav" class="tabular">
						<%= content_tag :li, link_to("Details", '#fac_details', :id => 'tab_Details', :rel => 'tab1') %>
						<%= content_tag :li, link_to("Rental Settings", '#settings', :id => 'settings', :rel => 'tab2') %>
						<%= content_tag :li, link_to("Amenities/Specials", '#fac_details', :id => 'tab_Details', :rel => 'tab3') %>
						<%= content_tag :li, link_to("Unit Sizes", '#unit-sizes', :id => 'tab_Sizes', :rel => 'unit_sizes') %>
						<%= content_tag :li, link_to("Pictures", '#fac_pictures', :id => 'tab_Pictures', :rel => 'fac_pictures') %>
						<%= content_tag :li, link_to("Reports", '#reports', :id => 'reports', :rel => 'fac_reports') %>
						<%= content_tag :li, link_to("Reviews", '#reviews', :id => 'reviews', :rel => 'reviews') %>
					</ul>
					<!-- tab content -->
					<span id="hint">Here you can change all the details for this facility.</span>
					<div id="tab1" class="tab_content">
						<div id="details" class="left">
						        <h2>Facility Details:</h2><br />
								<table cellspacing="0" cellpadding="0" class="fac-details">
						            <tbody>
						                <tr>
											<td class="col_label"><label for="name">Facility Name:</label></td>
						                	<td><input type="text" maxlength="32" value="American International Storage" name="name" id="name" class="text  long"></td>
						                </tr>

						                <tr>
						                	<td class="col_label"><label for="address1">Address Line1:</label></td>
						                	<td><input type="text" maxlength="30" value="2100 NE 162nd St" name="address1" id="address1" class="text  long"></td>
						                </tr>

						                <tr>
						                	<td class="col_label"><label for="address2">Line2:</label></td>
						                	<td><input type="text" maxlength="40" value="" name="address2" id="address2" class="text long"></td>
						                </tr>

						                <tr>
						                	<td class="col_label"><label for="city">City:</label></td>
						                	<td><input type="text" value="North  Miami Beach" name="city" id="city" class="text  long"></td>
						                </tr>

						                <tr>
						                	<td class="col_label"><label for="state">State:</label></td>
						                	<td><div><input type="text" value="FL" size="2" maxlength="2" name="state" id="state" class="text "></div></td>
						                </tr>

						                <tr>
						               		<td class="col_label"><label for="zip">Zip Code:</label></td>
						                	<td><div><input type="text" value="33162" name="zip" id="zip" class="text "></div></td>
						                </tr>

						                <tr>
						                	<td class="col_label"><label for="phone">Phone:</label></td>
						                	<td>
						                    	<div>
						                      		<input type="text" value="305-111-1111" size="10" maxlength="10" name="phone1" id="phone1" class="text ">
						                    	</div>
						                	</td>
						                </tr>

										<tr>
											<td class="col_label">Tracked Number</td>
											<td>(305) 537-6952 &nbsp;<div id="request">Request</div></td>
										</tr>
										
										<tr>
						                	<td class="col_label"><label for="email">Email:</label></td>
						                	<td>
						                    	<div>
						                      		<span id="contact1">vdante@aol.com &nbsp; [<a onclick="return removeContact(64746,2122);" href="#">remove</a>]<br /></span>
													<span id="contact2">americaninternationalstorage@gmail.com &nbsp; [<a onclick="return removeContact(64746,2122);" href="#">remove</a>]<br /></span>
													<input type="text" name="facility_email" id="facility_email" value="" size="40"> &nbsp; [<a onclick="return addContact(64746);" href="#">add</a>]
						                    	</div>
						                	</td>
						                </tr>
						            </tbody>
						        </table>
						<button id="save" type="submit" value="Upload" name="Upload" id="Upload">Save Changes</button>
						</div>
						<div id="flogo" class="left">
							<p class="label">Logo:</p>
							<div id="col1">
								<%= display_logo @listing, :id => 'listing_img' %>
							</div>
							<div id="col2">
								<p>Upload a logo image from your computer...</p>
								<input type="hidden" value="" name="" id="pictures">
								<input type="file" id="upload" name="" class="file">

								<p>Or choose from one of our default images below.</p>
								<%= render :partial => 'listings/logo_choices' %>
								
								<button id="save" type="submit" value="Upload" name="Upload" id="Upload">Save Changes</button>
							</div>
						</div>
						<div id="descript" class="left">
							<p class="label">Description:</p>
							<div class="inner">
								<p>As stated in our USSelfStorageLocator.com <a href="terms-of-use">terms of use</a> please do not enter any contact information (phone numbers, websites, email addresses, etc) in the facility description.</p>
								<textarea id="facility_description" name="facility_description" rows="6" >Your North Miami Beach Self Storage location, one block of 163rd Street and 5 minutes from the 163rd Street Mall and Sunny Isles Beach. Located behind Potamking Honda. All units are ground floor with some accessible via roll up ladder for even bigger savings. We offer the FIRST MONTH FREE and up to 4 months free (call us for details). American International Self Storage serves the cities of North Miami Beach, Miami, North Miami, Miami Gardens, Aventura, Sunny Isles, Miami Beach and many more.</textarea>
							</div>
							<button id="save" type="submit" value="Upload" name="Upload" id="Upload">Save Changes</button>
						</div>
						<div id="hours" class="left">
							<p class="label">Hours:</p>
							<div class="inner">
								<%= render :partial => 'hours' if in_edit_mode? %>
							</div>
							<button id="save" type="submit" value="Upload" name="Upload" id="Upload">Save Changes</button>
						</div>
					</div>
					<div id="tab2" class="tab_content">
						<div id="admin_fee" class="left">
							<p class="label">Administrative Fee:</p>
							<div class="inner">
								$ &nbsp;<input type="text" name="facility_admin_fee" id="facility_admin_fee" value="20.00" size="8"> &nbsp; Set your Administrative Fee amount here and it will be charged on every unit rental you make through us.<br />
							</div>
						</div>
						<div id="billing" class="left">
							<p class="label">Billing Method:</p>
							<div class="inner">
								<ul>
									<li class="option"><span class="b_method"><input type="checkbox" value="Prorated" name="b_method" id="b_method" class="hidden"></span> Prorated</li>
									<li class="option"><span class="b_method"><input type="checkbox" value="Fixed" name="b_method" id="b_method" class="hidden"></span> Fixed</li>
								</ul>
							</div>
						</div>
						<div id="tax" class="left">
							<p class="label">State Tax:</p>
							<div class="inner">
								$ &nbsp;<input type="text" name="state_tax" id="state_tax" value="0" size="8"> &nbsp; Set your State Tax here so it is added to every unit rental.
							</div>
						</div>
						<button id="save" type="submit" value="Upload" name="Upload" id="Upload">Save Changes</button>
					</div>
					<div id="tab3" class="tab_content">
						<div id="features" class="left">
							<p class="label">Facility Amenities:</p>
							<div class="inner">
								<%= render :partial => 'features' %>
							</div>
						</div>
						<div id="specials" class="left hideable">
							<p class="label">Specials:</p>
							<div class="inner">
								<%= render_hints_for :specials %>
								<p>Select one or more preset specials to make it available for this facility.</p>
								<% form_tag toggle_specials_client_path(@client) do %>
									<ul id="toggle_specials">
										<%= render :partial => PredefinedSpecial.all %>
									</ul>
								<% end %>
							</div>
						</div>
						<button id="save" type="submit" value="Upload" name="Upload" id="Upload">Save Changes</button>
					</div>
					<div id="unit_sizes" class="tab_content">
						<%= render :partial => 'sizes' unless in_mode?('show') && @listing.available_sizes.empty? %>
					</div>
					<div id="fac_pictures" class="tab_content">
						<p class="label">Facility Pictures:</p>
						<%= render :partial => 'pictures' unless in_mode?('show') && @listing.pictures.empty? %>
					</div>
					<div id="fac_reports" class="tab_content">
						<div id="leads" class="left">
							<form class="">Show:
							<select name="type">
								<option value="0">Lead Type</option>
								<option value="1">Rentals</option>	<option value="2">Phone Calls</option>	<option value="3">Contact Form</option>	<option value="4">Coupon</option>
							  <option value="5">Banner Clicks</option>	<option value="9">Directions</option>
							</select> for:

							<select name="range">
								<option value="180">2 Years</option>
								<option value="180">1 Year</option>
								<option selected="" value="180">6 Months</option>
								<option value="90">3 Months</option>
								<option value="31">1 Month</option>
								<option value="14">2 Weeks</option>
								<option value="0">Today</option>
							</select>
							<input type="submit" value="Refine" class="button2">
							</form>
							<table id="" class="">
								<thead>
								    <tr>
							            <th class="col1" style="-moz-user-select: none;"><a href="#" class="" title="Sort on “Leads”">Type</a></th>
							            <th class="col2" style="-moz-user-select: none;"><a href="#" class="" title="Sort on “Time”">Time</a></th>
							            <th class="col3" style="-moz-user-select: none;"><a href="#" class="" title="Sort on “Name”">Name</a></th>
							            <th class="col4" style="-moz-user-select: none;"><a href="#" class="" title="Sort on “Phone”">Phone</a></th>
							            <th class="col5" style="-moz-user-select: none;"><a href="#" class="" title="Sort on “Email”">Email</a></th>
							            <th class="col6" style="-moz-user-select: none;"><a href="#" class="" title="Sort on “More Info”">More Info</a></th>
							        </tr>
								</thead>
								<tbody>
									<tr class="">
														<!-- Leads Type -->
								            <td>Phone Call</td>
														<!-- Time -->
								            <td>12/02/2010 at 1:24 pm</td>
														<!-- Name -->
								            <td>John Smith</td>
														<!-- Phone -->
								            <td>(954) 630-6731</td>
														<!-- Email -->
								            <td>myemail@web.com</td>
														<!-- More Info -->
								            <td class="miscinfo"><a href="">Voice Recording</a></td>
								    </tr>
									<tr class="alt">
														<!-- Leads Type -->
								            <td>Rental</td>
														<!-- Time -->
								            <td>12/02/2010 at 1:24 pm</td>
														<!-- Name -->
								            <td>John Smith</td>
														<!-- Phone -->
								            <td>(954) 630-6731</td>
														<!-- Email -->
								            <td>myemail@web.com</td>
														<!-- More Info -->
									            <td class="miscinfo">10x10 Interior<br />First Month Free<br />$89.00<br />Climate Controlled</td>
								    </tr>
									<tr class="">
														<!-- Leads Type -->
								            <td>Phone Call</td>
														<!-- Time -->
								            <td>12/02/2010 at 1:24 pm</td>
														<!-- Name -->
								            <td>John Smith</td>
														<!-- Phone -->
								            <td>(954) 630-6731</td>
														<!-- Email -->
								            <td>myemail@web.com</td>
														<!-- More Info -->
								            <td class="miscinfo"><a href="">Voice Recording</a></td>
								    </tr>
									<tr class="alt">
														<!-- Leads Type -->
								            <td>Rental</td>
														<!-- Time -->
								            <td>12/02/2010 at 1:24 pm</td>
														<!-- Name -->
								            <td>John Smith</td>
														<!-- Phone -->
								            <td>(954) 630-6731</td>
														<!-- Email -->
								            <td>myemail@web.com</td>
														<!-- More Info -->
									            <td class="miscinfo">10x10 Interior<br />First Month Free<br />$89.00<br />Climate Controlled</td>
								    </tr>
									<tr class="">
														<!-- Leads Type -->
								            <td>Phone Call</td>
														<!-- Time -->
								            <td>12/02/2010 at 1:24 pm</td>
														<!-- Name -->
								            <td>John Smith</td>
														<!-- Phone -->
								            <td>(954) 630-6731</td>
														<!-- Email -->
								            <td>myemail@web.com</td>
														<!-- More Info -->
								            <td class="miscinfo"><a href="">Voice Recording</a></td>
								    </tr>
									<tr class="alt">
														<!-- Leads Type -->
								            <td>Rental</td>
														<!-- Time -->
								            <td>12/02/2010 at 1:24 pm</td>
														<!-- Name -->
								            <td>John Smith</td>
														<!-- Phone -->
								            <td>(954) 630-6731</td>
														<!-- Email -->
								            <td>myemail@web.com</td>
														<!-- More Info -->
									            <td class="miscinfo">10x10 Interior<br />First Month Free<br />$89.00<br />Climate Controlled</td>
								    </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
