<% declare_content_for unless request.xhr? %>

<div id="ajax_wrap_inner">
	<%= display_message flash %>
	
	<h2 id="a">
		Save Money and Time, Rent Online.
	</h2>
	
	<p class="hhh">
		You're looking at a revolution in getting things done quickly and easily. The ease of online shopping and comparison has finally made it to the <strong>self storage business</strong>. Now finding and getting the best deals 
		in self storage units and features is easier than ever. Search from hundreds of facilities ranging from self storage to car storage to wine storage - in the size and price you want. We do all the work for you
		and offer you a discount for any unit you rent through USSelfStorageLocator.com. 
	</p>
	
	<div id="main_map" data-latlng="<%= @search.lat_lng * ',' rescue nil %>"></div>

	<div id="results_wrap">
		<div class="rslt-head-txt">
			<% if @listings && !@listings.empty? %>
				<h2><%= locator_header %></h2>
				<p><%= friendly_sorted_by_label %></p>
			<% else %>
				<h2 class="no_results<%= ' hide' if in_mode?('home') %>">Couldn't find any <%= @search.storage_type.titleize %> listings, try widening your search</h2>
			<% end %>
		</div>

		<div id="type-one-top-bar">
			<% if @listings && !@listings.empty? %>
				<div id="rslt-list-bg">
					<% if ['truck rentals', 'moving companies'].include?(@search.storage_type.downcase) %>
						<%= render :partial => 'list' %>
					<% else %>	
						<div id="search-head">
							<ul>
							 	<li id="list-name" class="sorter">
									<%= link_to '<span class="hide">List by </span>Facility Name', '#sort-name', :class => listing_sort_class('name'), 'data-sorted_by' => 'name', 'data-sort_reverse' => sort_status(@search, 'name') %>
								</li>
							 	<li id="list-miles" class="sorter">
									<%= link_to '<span class="hide">List by </span>Miles', '#sort-distance', :class => listing_sort_class('distance'), 'data-sorted_by' => 'distance', 'data-sort_reverse' => sort_status(@search, 'distance') %>
								</li>
							 	<li id="list-size"><span class="hide">List by </span>Size</li>
							 	<li id="list-price" class="sorter">
									<%= link_to '<span class="hide">List by </span>Price', '#sort-price', :class => listing_sort_class('price'), 'data-sorted_by' => 'price', 'data-sort_reverse' => sort_status(@search, 'price') %>
								</li>
								<li id="list-amenities"><span class="hide">List by </span>Amenities</li>
							</ul>
						</div>
						<%= render :partial => 'result', :collection => @listings %>
					<% end %>
				</div>

				<%= render :partial => 'listings/paginator' %>
			<% end %>
		</div>
	</div>
</div>