<% declare_content_for unless request.xhr? %>

<div id="ajax_wrap_inner">
	<%= display_message flash %>

	<div id="main_map" data-latlng="<%= @search.lat_lng * ',' %>">
	</div>
	
	<div id="results_wrap">
		<div class="rslt-head-txt">
			<h2><%= locator_header %></h2>
			<p>Your <span id="sorted_by">most relevant</span> <%= @search.storage_type %> is being displayed first</p>
		</div>

		<div id="type-one-top-bar">
			<div id="search-head">
				<ul>
				 	<li id="list-name">
						<%= link_to '<span class="hide">List by </span>Facility Name', "/#{@search.storage_type.parameterize}/sort/name/#{@search.sort_num}", :class => 'list_sort', 'data-sort' => 'name', 'data-sort_num' => @search.sort_num %>
					</li>
				 	<li id="list-miles">
						<%= link_to '<span class="hide">List by </span>Miles', "/#{@search.storage_type.parameterize}/sort/distance/#{@search.sort_num}", :class => 'list_sort', 'data-sort' => 'distance', 'data-sort_num' => @search.sort_num %>
					</li>
				 	<li id="list-size"><span class="hide">List by </span>Size</li>
				 	<li id="list-price">
						<%= link_to '<span class="hide">List by </span>Price', "/#{@search.storage_type.parameterize}/sort/price/#{@search.sort_num}", :class => 'list_sort', 'data-sort' => 'price', 'data-sort_num' => @search.sort_num %>
					</li>
					<li id="list-amenities"><span class="hide">List by </span>Amenities</li>
				</ul>
			</div>

			<div id="rslt-list-bg">
				<%= render :partial => 'listings/result', :collection => @listings %>
			</div>

			<%= render :partial => 'listings/paginator' unless @listings.blank? %>
		</div>
	</div>
</div>