<% declare_content_for -%>
<div id="ajax_wrap_inner=" class="staticContent">
	<div id="type-one-r-col">
		<div id="type-three-r-col-in">
			<div id="sl-edit-tabs">
				<div id="sl-tabs-in" class="tabular_content" data-tabs-id="sl-tabs-nav">
					<%= display_message flash %>
					<span id="client_id" class="hide"><%= @listing.client.id %></span>
					<span id="listing_id" class="hide"><%= @listing.id %></span>
				
					<ul id="sl-tabs-nav" class="tabular">
						<%= content_tag :li, link_to("Activity", '#fac_activity_tab', :id => 'tab_Activity', :rel => 'tab0') %>
						<%= content_tag :li, link_to("Details", '#fac_details_tab', :id => 'tab_Details', :rel => 'tab1') %>
						<%= content_tag :li, link_to("Rental Settings", '#settings_tab', :id => 'settings', :rel => 'tab2') %>
						<%= content_tag :li, link_to("Amenities/Specials", '#amenities_tab', :id => 'tab_Details', :rel => 'tab3') %>
						<%= content_tag :li, link_to("Unit Sizes", '#unit_sizes_tab', :id => 'tab_Sizes', :rel => 'unit_sizes') %>
						<%= content_tag :li, link_to("Pictures", '#fac_pictures_tab', :id => 'tab_Pictures', :rel => 'fac_pictures') %>
						<%#= content_tag :li, link_to("Reports", '#reports_tab', :id => 'reports', :rel => 'fac_reports') %>
						<%= content_tag :li, link_to("Reviews", '#reviews_tab', :id => 'reviews', :rel => 'fac_reviews') %>
					</ul>
					<!-- tab content -->
					<div id="tab0" class="tab_content">
						<p class="hint">Quick glance of activity on this facility.</p>
						
						<h3 class="label">Activity Summary</h3>
						<%= render :partial => 'clients/graph', :locals => { :graph => @graph } %>
						
						<h3 class="label">Activity Log</h3>
						<%= delayed_render 'listings/activity_table', "&model=Listing&id=#{@listing.id}" %>
						
						<div id="help-clicks" class="hide side_framed">
							A click is logged every time a visitor goes to your facility's profile page. Usually by clicking on your listing in the search results page. 
						</div>
						<div id="help-impressions" class="hide side_framed">
							Impressions are logged when your listing appears on the search results page. They signify how many times people see your listing.
						</div>
						<div id="help-phone-calls" class="hide side_framed">
							If you have a tracked phone number we display the number of times a visitor called your facility. If not, people have to click on "View Phone Number" in your listing and we assume they called your facility. Having a tracked number provides more accurate counts.
						</div>
					</div>
					<div id="tab1" class="tab_content">
						<p class="hint">Here you can change all the details for this facility.</p>
						
						<div id="flogo" class="uncollapse stack">
							<%= render :partial => 'logo_form' %>
							<%= copy_all_link :facility_logo, @listing, :text => 'Copy to all listings', :title => 'Copy this logo to all your other listings' %>
						</div>
						
						<div id="details" class="uncollapse stack">
							<%= render :partial => 'edit_detail' %>
						</div>
						
						<% unless @listing.siblings.empty? %>
					  		<div id="billing" class="uncollapse stack">
					  			<%= render :partial => 'edit_billing' %>
					  		</div>
						<% end %>
						
						<div id="descript" class="uncollapse stack">
							<% form_for @listing, :html => { :id => 'fac_desc_form' } do |f| %>
								<h3 class="label">Description</h3>
							
								<div class="inner">
									<p>As stated in our USSelfStorageLocator.com <a href="terms-of-use">terms of use</a> please do not enter any contact information (phone numbers, websites, email addresses, etc) in the facility description.</p>					
									<span id="desc_word_count"><%= @listing.description.blank? ? '0' : @listing.description.split(' ').size %> words</span>
									<%= f.text_area :description, :class => 'required count_me', :rows => 6, :'data-target' => 'desc_word_count' %>
								</div>
							
								<%= copy_all_link :description, @listing, :text => 'Copy to all listings', :title => 'Copy this description to all your other listings' %>
							
								<%= f.submit 'Save Changes', :id => 'listing_desc_submit', :class => 'save' %>
								<%= ajax_loader %>
							<% end %>
						</div>
						<div id="hours" class="uncollapse stack">
							<h3 class="label">Hours</h3>
							<div class="inner">
								<%= render :partial => 'hours' %>
							</div>
						
							<%= copy_all_link :business_hours, @listing, :text => 'Copy to all listings', :title => 'Copy these hours to all your other listings' %>
							<%= submit_tag 'Save Changes', :class => 'save', :id => 'save_hours' %>
							<%= ajax_loader %>
						</div>
					</div>
					<div id="tab2" class="tab_content">
						<a id="toggle_renting" href="<%= toggle_renting_listing_path(@listing) %>?toggle=<%= !@listing.renting_enabled? %>&from=toggle_renting" data-toggle="<%= !@listing.renting_enabled? %>" class="blue_btn">
							<%= @listing.renting_enabled? ? 'Disable' : 'Enable' %> Renting
						</a>
						<p class="hint">Manage your rental settings here.</p>
						
						<% form_for @listing, :html => { :id => 'listing_extra_form', :class => (@listing.renting_enabled? ? 'enabled' : 'hide') + ' edit_listing' } do |f| %>
							<div id="admin_fee" class="uncollapse stack">
								<h3 class="label">Administrative Fee</h3>
								<div class="inner">
									$ <%= f.text_field :admin_fee, :size => 8, :maxlength => 6 %> &nbsp; Set your Administrative Fee amount here and it will be charged on every unit rental you make through us.<br />
								</div>
							</div>
							
							<div id="billing" class="uncollapse stack">
								<h3 class="label">Billing Method</h3>
								<div class="inner">
									<ul>
										<li class="radio_wrap<%= ' selected' if @listing.prorated? %>"><span class="radio_select"><%= f.radio_button :prorated, 1, :class => 'hide' %></span> <%= f.label :prorated, 'Prorated' %></li>
										<li class="radio_wrap<%= ' selected' unless @listing.prorated? %>"><span class="radio_select"><%= f.radio_button :prorated, 0, :class => 'hide' %></span> <%= f.label :prorated, 'Fixed' %></li>
									</ul>
								</div>
							</div>
							
							<div id="tax" class="uncollapse stack">
								<h3 class="label">State Tax</h3>
								<div class="inner">
									<%= f.text_field :tax_rate, :size => 8, :maxlength => 5 %> % &nbsp; Set your State Tax here so it is added to every unit rental.
								</div>
							</div>
					
							<%= f.submit 'Save Changes', :class => 'save' %>
							<%= ajax_loader %>
						<% end %>
						
						<div id="toggle_renting_html" class="hide">
							<p class="side_framed stack">By enabling our awesome renting feature you agree to pay us a commission of 50% of one month’s base rent. Contact us at <%= $_usssl_phone %></p>
						</div>
					</div>
					<div id="tab3" class="tab_content">
						<p class="hint">Click on the boxes to enable/disable.</p>
						
						<div id="features" class="uncollapse stack">
							<h3 class="label">Facility Amenities</h3>
							<div class="inner">
								<%= render FacilityFeature.all %>
							</div>
						</div>
						
						<div id="specials" class="uncollapse stack">
							<h3 class="label">Specials</h3>
							<div class="inner">
								<%= render PredefinedSpecial.all %>
							</div>
						</div>
						
						<div class="uncollapse">
							<ul id="amenity_legend">
								<li class="active"><span></span> Enabled</li>
								<li class="default"><span></span> Disabled</li>
							</ul>
						</div>
					</div>
					<div id="unit_sizes" class="tab_content">
						<p class="hint">Enter your unit information and availability here.</p>
						<div id="custom_sizes">
							<h3>My Unit Sizes</h3>
							<% unless @listing.issn_enabled? %>
								<p>Create a custom unit size by filling out the quick unit size creation form...</p>
							<% else %>
								<p class="left">These are your units that were synchronized with your facility management software...</p>
							<% end %>
							<%= render :partial => 'sizes' %>
						</div>
						
						<% unless @listing.issn_enabled? %>
							<div id="predefined_sizes">
								<h3>Standard Sizes</h3>
								<p>Or choose from these common unit sizes. Click Select and they will appear in your list above where you can finish editing it.</p>
								<%= render :partial => 'predefined_sizes/predefined_sizes', :locals => { :sizes => PredefinedSize.all } %>
							</div>
						<% end %>
					</div>
					<div id="fac_pictures" class="tab_content">
						<!--[if IE]>
							<p class="flash warning">There is a bug with uploading images using Internet Explorer. This will be fixed soon. Uploading images currently works in <a href="http://firefox.com" target="_blank">Firefox</a>, <a href="http://www.google.com/chrome" target="_blank">Chrome</a>, and <a href="http://www.apple.com/safari/" target="_blank">Safari</a>.</p>
						<![endif]-->
						<p class="hint">Customers like seeing pictures of your facility. Upload as many as you can.</p>
						<h3>Facility Pictures</h3>
						<%= render :partial => 'pictures' unless in_mode?('show') && @listing.pictures.empty? %>
					</div>
					<div id="fac_reports" class="tab_content">
						<p class="hint">See your tracking reports here.</p>
						<div id="leads" class="uncollapse stack">
							<form class="">Show:
								<select name="type" class="right_space">
									<option value="0">Lead Type</option>
									<option value="1">Rentals</option>	<option value="2">Phone Calls</option>	<option value="3">Contact Form</option>	<option value="4">Coupon</option>
								  	<option value="5">Banner Clicks</option>	<option value="9">Directions</option>
								</select> for:

								<select name="range" class="right_space">
									<option value="180">2 Years</option>
									<option value="180">1 Year</option>
									<option selected="" value="180">6 Months</option>
									<option value="90">3 Months</option>
									<option value="31">1 Month</option>
									<option value="14">2 Weeks</option>
									<option value="0">Today</option>
								</select>
						
								<div class="right"><input type="submit" value="Refine" class="button2"></div>
							</form>
							<table id="display_reports">
								<thead>
								    <tr>
							            <th class="col1"><a href="#" class="" title="Sort on Leads">Type</a></th>
							            <th class="col2"><a href="#" class="" title="Sort on Time">Time</a></th>
							            <th class="col3"><a href="#" class="" title="Sort on Name">Name</a></th>
							            <th class="col4"><a href="#" class="" title="Sort on Phone">Phone</a></th>
							            <th class="col5"><a href="#" class="" title="Sort on Email">Email</a></th>
							            <th class="col6"><a href="#" class="" title="Sort on More Info">More Info</a></th>
							        </tr>
								</thead>
								<tbody>
									<% 7.times do %>
										<tr class="">
								            <td>Phone Call</td>
								            <td>12/02/2010 at 1:24 pm</td>
								            <td>John Smith</td>
								            <td>(954) 630-6731</td>
								            <td>myemail@web.com</td>
								            <td class="miscinfo"><a href="">Voice Recording</a></td>
									    </tr>
										<tr class="alt">
								            <td>Rental</td>
								            <td>12/02/2010 at 1:24 pm</td>
								            <td>John Smith</td>
								            <td>(954) 630-6731</td>
								            <td>myemail@web.com</td>
									        <td class="miscinfo">10x10 Interior<br />First Month Free<br />$89.00<br />Climate Controlled</td>
									    </tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					<div id="fac_reviews" class="tab_content">
						<p class="hint">Send people you know a request to review your facility.</p>
						
						<div id="request_review" class="stack uncollapse">
							<h3>Request a Review</h3>
							
							<% form_tag request_review_listing_path(@listing), :id => 'request_review_form' do %>
								<div class="stack">
									<%= label_tag :review_request, 'Put each email on a new line', :class => 'stack' %>
									<%= text_area_tag :review_request, nil, :class => 'required hintable', :title => "friend1@email.com\nfriend2@emai.com\n..." %>
								</div>
							
								<div>
									<%= label_tag :message, 'Personal Message', :class => 'stack' %>
									<%= text_area_tag :message, nil, :class => 'required hintable', :title => "Optional message" %>
								</div>
							
								<div>
									<%= submit_tag 'Send', :class => 'save' %>
									<%= ajax_loader %>
								</div>
							<% end %>
						</div>
					
						<div id="list_reviews">
							<h3>Reviews</h3>
							<% unless @listing.reviews.published.empty? %>
								<p>Here's a list of all the reviews you've received for this facility.</p>
								<%= render :partial => 'comments/review', :collection => @reviews %>
								<%= will_paginate @reviews, :param_name => :review_page, :params => { :anchor => :reviews_tab } %>
							<% else %>
								<p>You have no reviews yet.</p>
							<% end %>
						</div>
					</div>
					<div class="hide">
						<%= hidden_field_tag :client_id, @listing.client.id %>
						<%= hidden_field_tag :listing_id, @listing.id %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>