<table width="100%" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF" style="background-color:#FFFFFF">
	<tr>
		<td valign="top" align="center">
			<table width="600" cellspacing="0" cellpadding="10" border="0" style="background-color: #ffffff;">
				<tbody>
					<tr>
						<td valign="top">
							<table width="750" cellspacing="0" cellpadding="10" border="0">
								<tbody>
									<tr>
										<td width="300" valign="top">
											<div style="color: #505050;font-family: Arial;font-size: 10px;line-height: 100%;text-align: left;">
												<div>
													<%= @client.trial_days_left %> Days Left Before Your Trial Period Ends. Act Now! Upgrade your account to continue taking advantage of your Premium Plus facility listing.
												</div>
											</div>
										</td>
										<td width="190" valign="top">
											<div style="color: #505050;font-family: Arial;font-size: 10px;line-height: 100%;text-align: left;">
												<!--<div>
													Is this email not displaying correctly?<br>
													<a style="color: #336699;font-weight: normal;text-decoration: underline;" target="_blank" href="">View it in your browser.</a>
												</div>-->
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<table width="750" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table width="750" cellpadding="0" cellspacing="0" style="border:1px solid #000000;overflow:hidden;border-radius:16px;-moz-border-radius:16px;-webkit-border-radius:16px;">
							<tr>
								<td height="34" style="font-size:11px;font-weight:bold;font-family:tahoma;text-align:center;height:34px;background-color:#f2f2f2;-moz-border-radius-topleft:16px;-moz-border-radius-topright:16px;height:34px;">
									Call us: <span style="color:blue;"><%= $_usssl_phone %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Online: <a href="http://<%= USSSL_DOMAIN %>" target="_blank" style="color:blue;">USSelfStorageLocator.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: <a href="mailto:team@usselfstoragelocator.com" target="_blank">team@usselfstoragelocator.com</a>
								</td>
							</tr>
							<tr>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="http://usselfstoragelocator.com" target="_blank"><img src="http://<%= USSSL_DOMAIN %>/images/email/premium_client_images/header.jpg" alt="USSelfStorageLocator.com"></a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="http://usselfstoragelocator.com/self-storage-advertising" target="_blank"><img src="http://<%= USSSL_DOMAIN %>/images/email/premium_client_images/<%= @client.trial_days_left_interval %>_days_left.jpg" alt="<%= @client.trial_days_left_interval %> Days Left"></a>
								</td>
							</tr>
							<tr>
								<td style="font-size:14px;font-family:tahoma;padding:20px;">
									<%= yield %>
								</td>
							</tr>
							<tr>
								<td height="10px;"></td>
							</tr>
							<tr>
								<td>
									<a href="http://usselfstoragelocator.com" target="_blank"><img src="http://<%= USSSL_DOMAIN %>/images/email/premium_client_images/usselfstoragelocator_visit.jpg" style="width:279px;" alt="Visit USSelfStorageLocator.com"></a> <a href="http://facebook.com/storagelocator" target="_blank"><img src="http://<%= USSSL_DOMAIN %>/images/email/premium_client_images/facebook_like.jpg" style="width:224px;" alt="&quot;Like&quot; us on Facebook"></a> <a href="http://twitter.com/storagelocator" target="_blank"><img src="http://<%= USSSL_DOMAIN %>/images/email/premium_client_images/twitter_follow.jpg" style="width:236px;" alt="&quot;Follow&quot; us on Twitter"></a>
								</td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td>
									<img src="http://<%= USSSL_DOMAIN %>/images/email/premium_client_images/footer.jpg">
								</td>
							</tr>
						</table>
						<table width="750" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<img src="http://<%= USSSL_DOMAIN %>/images/email/premium_client_images/header2.jpg" alt="Premium Plus Membership Features">
								</td>
							</tr>
						</table>
						<table width="750" cellpadding="0" cellspacing="0" style="font-size:12px;padding:20px;">
							<tr>
								<td>
									&#8226; Call Tracking / Recording
								</td>
								<td>
									&#8226; Unit Sizes
								</td>
								<td>
									&#8226; Preview Tabs
								</td>
							</tr>
							<tr>
								<td>
									&#8226; Activity Reports
								</td>
								<td>
									&#8226; Unit Types
								</td>
								<td>
									&#8226; Customized Specials / Discounts
								</td>
							</tr>
							<tr>
								<td>
									&#8226; Email Notifications
								</td>
								<td>
									&#8226; Unit Prices
								</td>
								<td>
									&#8226; Request Info Option
								</td>
							</tr>
							<tr>
								<td>
									&#8226; Inventory Synchronization (ISSN)
								</td>
								<td>
									&#8226; Amenities
								</td>
								<td>
									&#8226; Online Rentals 24/7/365 (Optional)
								</td>
							</tr>
							<tr>
								<td>
									&#8226; Free Featured Facility Banner
								</td>
								<td>
									&#8226; Pictures
								</td>
								<td>
									&#8226; Long Term Rentals w/Specials
								</td>
							</tr>
							<tr>
								<td>
									&#8226; Compare Prices / Amenities / Distance
								</td>
								<td>
									&#8226; Reviews
								</td>
								<td>
									&#8226; Reservations / Hold Unit
								</td>
							</tr>
							<tr>
								<td>
									&#8226; Facility Profile
								</td>
								<td>
									&#8226; Highlighted Listing
								</td>
								<td>
									&#8226; 10% Customer Discount (USSSL)
								</td>
							</tr>
							<tr>
								<td>
									&#8226; Logo
								</td>
								<td>
									&#8226; Top Results Positioning
								</td>
								<td></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="750" cellpadding="0" cellspacing="0">
				<tr>
					<td height="20"></td>
				</tr>
				<tr>
					<td style="font-size:12px;color:#cccccc;">
						
					</td>
				</tr>
			</table>
			<table width="750" cellpadding="0" cellspacing="0" style="text-align:center;border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;">
				<tr>
					<td height="20"></td>
				</tr>
				<tr>
					<td colspan="2" valign="middle" id="utility">
						<div>
							<a href="<%= @client.unsub_url_for @list_name %>">Unsubscribe</a> from this list.
						</div>
					</td>
				</tr>
				<tr>
					<td height="20"></td>
				</tr>
			</table>
			<table width="750" cellpadding="10" cellspacing="0" style="margin-top:0px;">
				<tr>
					<td height="20"></td>
				</tr>
				<tr>
					<td style="text-align:center;font-family:arial;font-weight:bold;">
						© 2011 - <a href="http://<%= USSSL_DOMAIN %>" target="_blank" style="text-decoration:none;">USSelfStoragelocator.com</a>, All Rights Reserved.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
