<div id="send_msg">
	<h3>Have Questions? Send Us A Message!</h3>
	
	<% form_for Comment.new do |f| %>
		<fieldset>
			<div class="stack">
				<%= f.label :name %>
				<%= f.text_field :name, :class => 'required' %>
			</div>
			
			<div class="stack">
				<%= f.label :title, 'Facility/Company Name' %>
				<%= f.text_field :title, :class => 'required' %>
			</div>
			
			<div class="stack">
				<%= f.label :email %>
				<%= f.text_field :email, :class => 'required email' %>
			</div>
			
			<div class="stack">
				<%= f.label :comment %>
				<%= f.text_area :comment, :class => 'required small_textarea' %>
			</div>
			
			<div>
				<%= f.hidden_field :commentable_type, :value => 'Page' %>
				<%= f.hidden_field :commentable_id, :value => @page.id %>
				<%= f.submit 'Send' %>
			</div>
		</fieldset>
	<% end %>
</div>