<div class="blog-lock">
	<div class="share_wrap">
		<a class="tip_anchor" name="<%= tip.title.parameterize %>"></a>
		<h3><%= link_to tip.title, post_url(tip), :class => 'tip_link' %></h3>
		<p class="updated_at hide"><%= tip.updated_at.to_i %></p>
		<div class="stack"><%= tip.content_teaser %></div>

		<ul>
			<li>Rating&nbsp;&nbsp;&nbsp;</li>
			<li class="five-star"><%#= ratings_for tip, :dimension => :usefulness, :small => true %></li>
			<li class="share_label">Share: </li>
			<li class="share addthis_toolbox addthis_default_style"></li>
			<% if tip.respond_to? :display_tag_list_with_links %>
				<li class="tags">Tags: <%= tip.display_tag_list_with_links %></li>
			<% end %>
		</ul>
	</div>
</div>