<p><strong>Client:</strong> <%= @client.name %> &lt;<%= @client.email %>&gt;</p>

<p><strong>Account:</strong> <%= edit_client_url @client, :protocol => 'https' %></p>

<p><strong>Claimed Listings: </strong></p>

<ul>
<% @listings.each do |listing| -%>
	<li>(<%= listing.id %>) <%= link_to listing.title, edit_listing_path(listing) %><br>
		<%= listing.full_address %>	
	</li>
<% end %>
</ul>