<p><strong>Client:</strong> <%= @client.name %> &lt;<%= @client.email %>&gt;</p>

<p><strong>Account:</strong> <%= edit_client_url @client, :protocol => 'https' %></p>

<p><a href="http://twitter.com/home?status=Check out our newest member storage facility <%= @client.listings.first.title %> <%= @client.listings.first.short_url %>">Share on Twitter</a></p>
<p><a href="http://facebook.com/sharer.php?u=<%= @client.listings.first.full_url %>">Post on Facebook</a></p>

<p><strong>Listings:</strong> </p>
<ul style="list-style-position:inside;margin-left:10px">
<% @client.listings.each do |listing| %>
	<li>
	(<%= listing.id %>) <%= listing.title %><br />
	<%= listing.full_address '<br />' %>
	</li>
<% end %>
</ul>