<p>A new message was posted on <%= @host %> from <%= @comment.email %> using comment form <%= @form.name %> (<%= @form.id %>)</p>

<p><strong>Message:</strong> <%= @comment.title %></p>
<div>
-----------------------------------------------------------------------<br>
  <%= @comment.comment %><br>
-----------------------------------------------------------------------
</div>
