<p>Hi <%= @client.name %>,<br>
Your facilities have finished updating. You chose to update the <%= @what.titleize %> from <%= @listing.title %> in <%= @listing.full_address %> to your other <% pluralize @listing.siblings.size, 'facility' %>.</p>

<p>Here's a quick link to your facility page: <%= client_listing_url @listing, :protocol => 'https' %></p>

<p>Have a great day! <br>
&nbsp;&nbsp;- The USSSL Team
</p>