<p>A person has requested info from the following listing. <%= ' This listing is a premium member, they were sent a notification.' if @Listing.premium? %></p>

<p><strong>Listing:</strong>
	<%= @listing.title %><br>
	<%= @listing.full_address %><br>
	<%= edit_listing_url @listing %>
</p>

<p><strong>New Info Request:</strong>
	<%= @info_request.name %> &lt;<%= @info_request.email %>&gt;<br>
	<%= @info_request.phone %><br>
	Move in date: <%= @info_request.move_in_date %><br>
	Duration: <%= @info_request.duration %>
</p>