<p>A person has requested info from the following listing. </p>

<p>
	<% if @listing.premium? %>
		This listing is a premium member, they were sent a notification. However, it is recommended to follow up with them to make sure.
	<% else %>
		This is NOT a premium member. We must notify them promptly!
	<% end %>
</p>

<p>
	<strong>Listing:</strong>
	<a href="<%= edit_listing_url @listing %>"><%= @listing.title %></a><br>
	<%= @listing.full_address %>
</p>

<p><strong>From: </strong><%= @info_request.name %> &lt;<%= @info_request.email %>&gt;</p>

<p><strong>Phone: </strong><%= @info_request.phone %></p>

<p><strong>Move in date:</strong> <%= @info_request.nice_date :move_in_date %></p>

<p><strong>Duration:</strong> <%= @info_request.duration %></p>

<p><strong>Unit:</strong> <%= @info_request.size_id ? @info_request.size.full_title : @info_request.unit_type_size %></p>

<p>KA team!</p>