<p>New message sent from the form on the "<%= @comment.commentable.name_or_title %>" page.</p>

<p>
	<strong>When:</strong> <%= @comment.created_at.asctime %><br>
	<strong>From:</strong> <%= @comment.title %> <<%= @comment.email %><br>
	<strong>Message:</strong> <br>
	<%= @comment.comment %>
</p>
