<p>A new review was posted for the facility: <%= @review.commentable.title %></p>

<p><strong>From:</strong></p> <%= @review.email %></p>

<p><strong>Message:</strong> <%= @review.title %></p>
<div>
-----------------------------------------------------------------------<br>
  <%= @review.comment %><br>
-----------------------------------------------------------------------
</div>

<p><strong>Link:</strong> <%= edit_review_url @review, :protocol => 'https' %></p>

<p>- Rock on.</p>