<p>
	Your request for a tracking phone number has been approved and the following number has been assigned to your facility.
</p>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td width="20"></td>
		<td width="340" valign="top" halign="left">
			<p>
				<strong>Facility Name:</strong><br>
				<a href="https://<%= $root_domain %>/my_account" target="_blank" style="color:green;"><%= @listing.title %></a>
			</p>
			<p>
				<strong>Assigned Tracking Number:</strong><br>
				<%= @listing.tracked_number %>
			</p>
		</td>
	</tr>
</table>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td height="20"></td>
	</tr>
	<tr>
		<td>
			<p>
				<strong><em>Your facility's profile has been updated to display this number.</em></strong>
			</p>
		</td>
	</tr>
</table>
<p>
	Please test the number from your local calling area to ensure it is routing correctly. If it does not, contact us immediately.
</p>
<p>
	For more information about our Call Tracking feature please visit: <a href="http://<%= $root_domain %>/help/call-tracking" target="_blank">http://<%= $root_domain %>/help/call-tracking</a>
</p>