<fieldset>
	<div class="stack">
		<%= f.label :title, 'Nav Title' %>
		<div class="shadow_wrap">
			<%= f.text_field :title, :class => 'required' %>
		</div>
	</div>
	
	<div class="stack">
		<%= f.label :description, nil, :class => 'block_label' %>
		<div class="shadow_wrap">
			<%= f.text_area :description, :class => 'small_textarea' %>
		</div>
	</div>
	
	<div class="stack">
		<%= f.label :content, nil, :class => 'block_label' %>
		<div class="shadow_wrap">
			<%= f.text_area :content, :class => 'wysiwyg' %>
		</div>
	</div>
	
	<div class="stack uncollapse">
	  <%= render :partial => 'shared/models_module_fields', :locals => { :f => f, :model => @page } %>
	</div>
	
</fieldset>