<% blog_post ||= model %>
<div class="blog_post_view">	
	<div class="blog_post uncollapse">
		<%= render :partial => 'posts/post_date', :locals => { :post => blog_post } %>
		
		<h2><%= link_to blog_post.name_or_title, blog_post %></h2>
		<div class="blog_post_info">
			<% if blog_post.respond_to?('user') && blog_post.user %>
				<span> by <%= link_to blog_post.user.name, blog_post.user %></span>
			<% end %>
			
		</div>
		
		<% if blog_post.attributes.keys.include?('content') %>
			<div class="blog_post_content stack"><%= blog_post.content %></div>
		<% end %>
			
		<%= render :partial => 'posts/meta', :locals => { :post => blog_post } %>
		
		<div id="sharing">
			<a id="rss" href="http://usselfstoragelocator.com/blog.rss"></a>

			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=mastermindxs"></script>
			<!-- AddThis Button END -->
		</div>
		
	</div>
</div>