<div id="blog-side" class="shimmy">
	<div id="tags">
		<h4>Tags</h4>
		<ul>
			<% BlogPost.published.map(&:tags).flatten.uniq.each do |tag| %>
				<li><a href="<%= "/self-storage-blog/#{tag.name.parameterize}" %>"><%= tag.name %></a></li>
			<% end %>
		</ul>
	</div>
	
	<div id="archives">
		<h4>Archives</h4>
		<ul>
			<% BlogPost.published_years.each do |year| %>
				<li class="year">
					<%= year %>
					<ul class="months">
						<% BlogPost.published_months_for_year(year).each do |month| %>
							<li><a href="<%= "/self-storage-blog/archives/#{year}/#{month}" %>"><%= month %></a> <span class="note">(<%= BlogPost.count_published_on year, month %>)</span></li>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div id="disqus-widgets">
		<script type="text/javascript" src="http://usselfstoragelocator.disqus.com/combination_widget.js?num_items=5&hide_mods=1&color=grey&default_tab=recent&excerpt_length=200"></script>
	</div>
</div>