<% form_for user do |f| %>
	<% user.ordered_attributes.in_groups_of(10, false).each do |group| %>
		<ul class="member_attributes">
			<% group.each do |key, val| %>
				<li>
					<span class="label"><%= key.to_s.titleize %>:</span>
					<span><%= f.text_field key, :value => nice_output_by_type(val), :class => 'click_sel ps' %></span>
					<span class="dp"><%= nice_output_by_type(val) %></span>
				</li>
			<% end %>
		</ul>
	<% end %>
	
	<div class="stack right">
		<%= hidden_field_tag :partial, 'user_info' %>
		<%= f.submit 'Update' %>
	</div>
<% end %>