<div id="model_new_btns" class="uncollapse">
	<%= render :partial => 'shared/model_new_back_buttons' %>
	<%= render :partial => 'shared/model_search', :locals => { :data => data } if data.first.class.respond_to? :searchables %>
	<%= render :partial => 'menus/view_type_links' unless data.blank? %>
</div>

<%= render :partial => 'shared/model_filter_by_tag', :locals => { :tags => extract_tags(data.first.class) } if data && data.first.respond_to?(:tags) %>
<%= render :partial => "#{view_types_dir}#{@default_view_type}", :locals => { :data => data } unless data.blank? %>