<% c = controller_name == 'clients' %>
<div id="admin-l-col">
	<div id="admin-box">
		<ul>
			<li>
				<%= link_to '<span>Overview</span>', admin_conditional_path(@client), :id => 'account_home_link', :class => 'active selective_hider' %>
			</li>
			<li>
				<a href="<%= c ? '#' : admin_conditional_path(@client, :anchor => 'show_ov-reports') %>" class="<%= 'selective_hider' if c %>" rel="ov-reports"><span>Reports</span></a>
			</li>
			<li>
				<a href="<%= c ? '#' : admin_conditional_path(@client, :anchor => 'show_ov-units') %>" class="<%= 'selective_hider' if c %>" rel="ov-units"><span>My Facilities</span></a>

				<% unless c || @client.listings.size == 1 %>
					<ul id="fac-side-list">
						<% @client.listings.each_with_index do |listing, i| %>
							<li<%= ' class="last"' if @client.listings.count == i+1 %>>
								<%= link_to "#{listing.title}<span>#{listing.address} #{listing.zip}</span>", profile_listing_path(listing), :class => active_page(profile_listing_path(listing)), :title => listing.city_state_zip %>
							</li>
						<% end %>
					</ul>
				<% end %>
			</li>
			<li>
				<a href="<%= c ? '#' : admin_conditional_path(@client, :anchor => 'show_ov-services') %>" class="<%= 'selective_hider' if c %>" rel="ov-services"><span>Services</span></a>
			</li>
			<li>
				<a href="<%= c ? '#' : admin_conditional_path(@client, :anchor => 'show_ov-info') %>" class="<%= 'selective_hider' if c %>" rel="ov-info"><span>Billing &amp; Mailing Info</span></a>
			</li>
			<li>
				<a href="<%= c ? '#' : admin_conditional_path(@client, :anchor => 'show_ov-settings') %>" class="<%= 'selective_hider' if c %>" rel="ov-settings"><span>Settings</span></a>
			</li>
			<li>
				<a href="#"><span>Help</span></a>
			</li>
		</ul>
	</div>
</div>
