<div id="netmem_agree">
	
	<h3>Network Member Information</h3>
	<table>
		<tr>
			<th>Name:</th>
			<td class="value">
				<%= text_field_tag '', client.name %>
			</td>
			<th>Account ID:</th>
			<td class="value">
				<%= client.issn_id %>
			</td>
		</tr>
		<tr>
			<th>Address:</th>
			<td class="value" colspan="3">
				<%= text_field_tag '', (client.listings.first.map.full_address rescue false) %>
			</td>
		</tr>
		<tr>
			<th>Contact Name:</th>
			<td class="value">
				<%= text_field_tag '', client.name %>
			</td>
			
			<th>Phone (work):</th>
			<td class="value">
				<%= text_field_tag '', (client.listings.first.map.phone rescue false) %>
			</td>
		</tr>
		<tr>
			<th>Contact Email:</th>
			<td class="value">
				<%= text_field_tag '', client.email %>
			</td>
			<th>Phone (cell):</th>
			<td class="value">
				<%= text_field_tag '' %>
			</td>
		</tr>
		<tr>
			<th>PMSoftware:</th>
			<td class="value" colspan="3">
				<span class="np left small_framed">Supported Property Management Systems</span>
				<%= select_tag 'pm_software', option_tags($_pm_softwares, nil, 'Choose Your System'), :class => 'required np' %>
			</td>
		</tr>
	</table>
	
	<div class="page-break"></div>
	
	<h3>Network Member Facility Information</h3>
	<div id="client_listings_table">
		<% client.listings.each do |listing| %>
			<table>
				<tr>
					<th>Action to be Performed</th>
					<td colspan="3">ADD Facility</td>
				</tr>
				<tr>
					<th>Facility Name:</th>
					<td class="value" colspan="3">
						<%= text_field_tag '', listing.title %>
					</td>
				</tr>
				<tr>
					<th>Address:</th>
					<td class="value" colspan="3">
						<%= text_field_tag '', (client.listings.first.map.full_address rescue false) %>
					</td>
				</tr>
				<tr>
					<th>Contact Name:</th>
					<td class="value">
						<%= text_field_tag '', client.name %>
					</td>
			
					<th>Phone (work):</th>
					<td class="value">
						<%= text_field_tag '', (client.listings.first.map.phone rescue false) %>
					</td>
				</tr>
				<tr>
					<th>Contact Email:</th>
					<td class="value">
						<%= text_field_tag '', client.email %>
					</td>
					<th>Phone (cell):</th>
					<td class="value">
						<%= text_field_tag '' %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
	
</div>