<% @reservations = model.reservations.paginate :page => params[:page], :per_page => 11 %>
<div>
	<% unless @reservations.empty? %>
		<table class="table_view" id="client_reservations">
			<thead>
				<tr>
					<th>By</th>
					<th>In date</th>
					<th>Out date</th>
					<th>Duration</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @reservations.each do |reservation| %>
					<tr class="<%= cycle('odd', 'even') %>">
						<td><%= link_to reservation.name, reserver_path(reservation.reserver), :class => 'reserver_detail_link' %></td>
						<td><%= reservation.nice_move_in_date %></td>
						<td><%= reservation.nice_move_out_date %></td>
						<td><%= duration_of reservation %></td>
						<td class="region">
							<%= link_to 'Details', reservation.partial_link, :class => 'rsvr_detail_link' %>
							<%= ajax_loader %>
						</td>
					</tr>	
				<% end %>
			</tbody>
		</table>
		
		<%= render :partial => 'views/paginate', :locals => { :data => @reservations } %>
	<% else %>
		<p>No Reservations</p>
	<% end %>
</div>