<div id="workflow_steps">
	<div class="items">
		<div id="signupstep_2" class="workflow_step">
			<div class="left">
				<h3>Choose Your Facility.</h3> 
<<<<<<< HEAD
				<p>Select all the self storage facilities that belong to you to have them added to your owner account. We will manually verify ownership after signing up. You can add more facilities if needed after your account has been created.</p>
				<p class="note">
				<strong>Note:</strong> Got 10 or more facilities? Please contact us for signup assistance and further membership details.</p>
=======
				<p>Select the self storage facilities that belong to you to have them added to your owner account. We will manually verify ownership on each one of them after signing up.) You can add more facilities if needed after your account has been created.</p>
				
>>>>>>> 7b441273422132e44db3e4b7ac70b4ab04ff3be9
				<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step1a.png"/>
			</div>
		
			<div class="found_box">
				<p class="display">We found <span></span> facilities that might belong to you.</p>
				<div class="small_listings"></div>
			</div>
		
			<div class="hidden listing_div selectable">
				<div class="left block num"></div>
			  	<div class="listing_in">
	  				<p class="listing_title"></p>
	  				<p class="listing_address"></p>
	  				<div class="check"><span><input type="checkbox" class="hidden" name="listing_id" value="" /></span></div>
	  			</div>
			</div>
		
		</div> <!-- END step 2 -->

		<div id="signupstep_3" class="workflow_step">
		
			<div class="intro">
				<h3>Great! Now enter your contact information.</h3> 
				<p>This name and address will be used on your main Administrator Account, you'll have full access to all the facilities added to this account.</p>
			</div>
		
		    <form action="" method="" id="contact_info_form" class="silent">
				<div class="left">
					<p>
						<label>First Name:</label><br />
						<input type="text" id="first_name" name="first_name" class="required" />
					</p>
					<p>	
						<label>Last Name:</label><br />
						<input type="text" id="last_name" name="last_name" class="required" />
					</p>	
					<p>
						<label>Facility Address (Line 1):</label><br />
						<input type="text" id="listing_address" name="listing_address" class="required" />
					</p>
					<p>
						<label>Facility Address (Line 2):</label><br />
						<input type="text" id="listing_address2" name="listing_address2" />
					</p>
				</div>
				<div class="left">
					<p>
						<label>City:</label><br />
						<input type="text" id="listing_city" name="listing_city" class="required autocomplete" data-autocomp-source="UsCity_names|5" />
					</p>
					<p class="state">
						<label>State:</label><br />
						<input type="text" id="listing_state" name="listing_state" class="required autocomplete" data-autocomp-source="States_abbrevs|1" />
					</p>
					<p>
						<label>Zip Code:</label><br />
						<input type="text" id="listing_zip" maxlength="5" name="listing_zip" class="numeric_zip" />
					</p>
					<p>
						<label>Phone Number:</label><br />
						<input type="text" id="listing_phone" maxlength="14" name="listing_phone" class="numeric_phone" />
					</p>
					<p>
						<label>Email:</label><br />
						<input type="text" id="listing_email"/>
					</p>
			
				</div>
				<p class="opt_in">
					<input type="checkbox" name="wants_newsletter" id="wants_newsletter" value="1" checked="checked" />
					<label for="wants_newsletter">Send me the latest news.</label>
				</p>
			</form>
	  		
			<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step1b.png"/>
	
		</div> <!-- END step 3 -->

		<div id="signupstep_4" class="workflow_step">
			<div class="intro">
				<h3>What happens next...</h3>
				<p>
					This information will be used to verify that you are the real owner/manager of this facility. We'll contact this phone number within 24 hours to verify and activate your account. 
					Thanks for signing up. You are that much closer to reducing vacancies and increasing revenue!
				</p>
			</div>
			
			<div class="wraped">
				<div class="inner hidden"></div>
			</div>
			<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step4.png"/>
			
			<div id="signup_agree_btns">
				<p id="terms_use_check" class="agree_check">
					<input type="checkbox" name="terms_of_use" id="terms_of_use" value="1" class="required" checked="checked" />
					<label for="terms_of_use">I agree to the <a href="/terms-of-use-facility-owners" target="_blank">Terms of Use</a>.</label>
				</p>
			
				<p class="agree_check">
					<input type="checkbox" name="client[rental_agree]" id="rental_agree" value="1" />
					<label for="rental_agree"><%= auto_pop_up_link 'I&rsquo;m interested in Online Rentals!', 'rent-pop', { :title => 'Activate Online Rentals', :width => '500px', :height => 'auto', :modal => false } %></label>
				</p>
			</div>
			<div id="rent-pop" class="hide">
				<p>
					By offering customers the ability to rent storage online we make their decision easier and more economical to make. Plus, this makes it more likely that the customers we bring you are more serious about paying. We handle the transactions including credit card validation and refunds up to the move in date. 
				</p>
				
				<p>
					This is awesome! You say. Where's the catch? Well, all we need is 50% of one month of the move in cost. That's it. Cheap huh? We'll even throw in the first rental commission free! 
				</p>
				
				<p>This is how it works: </p>
				<ul class="stack">
					<li id="cust_locates">A customer locates your facility on USSSL</li>
					<li id="cust_rents">They rent one of your units using our Secure Rental Form</li>
					<li id="cust_pays">We bill them on the day they move in and transfer the funds to you.</li>
				</ul>
				
				<p>Do you want to enable Online Rentals?</p>
				
				<div class="stack uncollapse">
					<a href="#" id="rent_no" class="rent_continue white left blue_btn">No, maybe later.</a>
					<a href="#" id="rent_yes" class="rent_continue white right grn_btn">Yes of course!</a>
				</div>
			</div>
			
		</div> <!-- END step 4 -->
		
		<div id="signupstep_5" class="workflow_step">
			<div id="signup_processing">
				<div class="intro">
					<h3>Your account is being created.</h3>
					<p>Please wait while we setup your account. </p>
				</div>
				
				<div class="wraped">
					<%= ajax_loader 'ajax-loader-long-green.gif', :style => 'margin:90px auto;display:block;' %>
				</div>
			</div>
			
			<div id="signup_complete" class="hide">
				<div class="intro">
					<h3>Your Account is Pending Verification.</h3>
				</div>
				
				<div class="wraped">
					<p><strong>Thank You!</strong></p> 
					<br />
					<p>We'll contact you as soon as we receive notification that you signed up, during business hours of course. After you're activated you'll be able to claim more facilities of yours that we may have listed using a simple tool in your account page.</p>
					<br />
					<p>Feel free to call us at the number below if you have any other questions.</p>
				</div>
			</div>
				
			<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step5.png"/>
		</div> <!-- END step 5 -->

	</div>
	<div id="contact">Need Help Signing Up?  Call <strong><%= $_usssl_phone %></strong></div>
	<div id="workflow_nav">
		<a class="button back" id="back" href="#back">Back</a>
		<a class="button skip" id="skip" href="#skip">Skip</a>
	  	<a class="button next" id="next" href="#next">Next</a>
	</div>
	
</div>