<div id="workflow_steps">
	<div class="items">
		<div id="signupstep_2" class="workflow_step">
			<div class="left">
				<h3>Choose Your Facility.</h3>
				<p>Select all the self storage facilities that belong to you to have them added to your owner account. We will manually verify ownership after signing up. You can add more facilities if needed after your account has been created.</p>
				<p class="note">
				<strong>Note:</strong> Got 10 or more facilities? Please contact us for signup assistance and further membership details.</p>
				<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step1a.png"/>
			</div>
		
			<div class="found_box">
				<p class="display">We found <span></span> facilities that might belong to you.</p>
				<div class="small_listings"></div>
			</div>
		
			<div class="hidden listing_div selectable">
				<div class="left block num"></div>
			  	<div class="listing_in">
	  				<p class="listing_title"></p>
	  				<p class="listing_address"></p>
	  				<div class="check"><span><input type="checkbox" class="hidden" name="listing_id" value="" /></span></div>
	  			</div>
			</div>
		
		</div> <!-- END step 2 -->

		<div id="signupstep_3" class="workflow_step">
		
			<div class="intro">
				<h3>Great! Now enter your contact information.</h3> 
				<p>This name and address will be used on your main Administrator Account, you'll have full access to all the facilities added to this account.</p>
			</div>
		
		    <form id="contact_info_form" class="silent">
				<div class="left">
					<p>
						<label><span class="req">* </span>First Name:</label><br />
						<input type="text" id="first_name" name="client[first_name]" class="required" />
					</p>
					<p>	
						<label><span class="req">* </span>Last Name:</label><br />
						<input type="text" id="last_name" name="client[last_name]" class="required" />
					</p>	
					<p>
						<label><span class="req">* </span>Office Address:</label><br />
						<input type="text" id="listing_address" name="client[mailing_address_attributes][address]" class="required" />
					</p>
					<p>
						<label>Office Address 2:</label><br />
						<input type="text" id="listing_address2" name="client[mailing_address_attributes][address2]" />
					</p>
				</div>
				<div class="left">
					<p>
						<label><span class="req">* </span>City:</label><br />
						<input type="text" id="listing_city" name="client[mailing_address_attributes][city]" class="required autocomplete" data-autocomp-source="UsCity_names|5" />
					</p>
					<p class="state">
						<label><span class="req">* </span>State:</label><br />
						<input type="text" id="listing_state" name="client[mailing_address_attributes][state]" class="required autocomplete" data-autocomp-source="States_abbrevs|1" />
					</p>
					<p>
						<label><span class="req">* </span>Zip Code:</label><br />
						<input type="text" id="listing_zip" maxlength="5" name="client[mailing_address_attributes][zip]" class="numeric_zip" />
					</p>
					<p>
						<label><span class="req">* </span>Phone Number:</label><br />
						<input type="text" id="listing_phone" maxlength="14" name="client[mailing_address_attributes][phone]" class="numeric_phone" />
					</p>
					<p>
						<label><span class="req">* </span>Email:</label><br />
						<input type="text" id="listing_email" name="client[email]" />
					</p>
			
				</div>
				<p class="opt_in">
					<input type="checkbox" name="client[wants_newsletter]" id="wants_newsletter" value="1" checked="checked" />
					<label for="wants_newsletter">Send me the latest news.</label>
				</p>
			</form>
	  		
			<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step1b.png"/>
	
		</div> <!-- END step 3 -->
		
		<div id="signupstep_4" class="workflow_step">
			<div class="intro">
				<h3>Membership Options</h3>
				<p>
					Choose the membership option that best suits your needs. Take advantage of our extended term options for added savings and less payment due dates to worry about.
				</p>
			</div>
			
			<div id="mem_options" class="right">
				<h4>Select a Membership Option</h4>
				<p><span>30 Day Free Trial</span> will be included with all membership options.</p>
				
				<% @payment_plans = PaymentPlan.sorted %>
				
				<ul id="btns" class="mem_ops">
					<% @payment_plans.each do |plan| %>
						<li id="PaymentPlan_<%= plan.id %>" class="radio_wrap">
							<span class="radio_select hide">
								<%= radio_button_tag 'client[payment_plan_assign_attributes][payment_plan_id]', plan.id, false, :class => 'required payplan' %>
							</span>
							<span class="desc"><%= plan.description %></span>
						</li>
					<% end %>
				</ul>
				<ul id="prices">
					<% @payment_plans.each do |plan| %>
						<li id="PaymentPlanPrice_<%= plan.id %>"><%= number_to_currency plan.recurring_cost %></li>
					<% end %>
				</ul>
				<p style="margin-top:10px;">10 or more Facilities? Call us for more membership options.</p>
			</div>
			
			<div id="list">
				<h4>Rated Best Value for the Price</h4>
				<ul>
					<li>Increased Online Exposure</li>
					<li>SEO &amp; Media Enhanced Facility Profile</li>
					<li>Lead Tracking &amp; Periodic Reporting</li>
					<li>Call Tracking &amp; Online Unit Rentals</li>
					<li>Inventory Synchronization</li>
				</ul>
			</div>
			
		</div> <!-- END step 4 -->
		
		<div id="signupstep_5" class="workflow_step">
		
			<div class="intro">
				<h3>Billing Information</h3> 
				<p>You will <span class="underline">not</span> be billed until your 30 day trial has passed. This is a no obligation pay per month service and you can cancel at any time.</p>
			</div>
		
		    <form id="billing_info_form" class="silent">
				<div class="left">
					<p>
						<label for="billing_address"><span class="req">* </span>Address:</label><br />
						<input type="text" id="billing_address" name="client[billing_info_attributes][address]" class="required" />
					</p>
					<p>	
						<label for="billing_city"><span class="req">* </span>City:</label><br />
						<input type="text" id="billing_city" name="client[billing_info_attributes][city]" class="required" />
					</p>	
					<p class="state uncollapse">
						<span id="state_wrap" class="small_wrap">
							<label for="billing_state"><span class="req">* </span>State:</label><br />
							<input type="text" id="billing_state" name="client[billing_info_attributes][state]" class="required" />
						</span>
						<span id="zip_wrap" class="small_wrap">
							<label for="billing_zip"><span class="req">* </span>Zip Code:</label><br />
							<input type="text" id="billing_zip" name="client[billing_info_attributes][zip]" maxlength="5" class="required numeric_zip" />
						</span>
					</p>
					<p>
						<label for="billing_phone"><span class="req">* </span>Phone Number:</label><br />
						<input type="text" id="billing_phone" name="client[billing_info_attributes][phone]" maxlength="14" class="required numeric_phone" />
					</p>
				</div>
				<div class="left">
					<p>
						<label for="billing_name"><span class="req">* </span>Name on Credit Card:</label><br />
						<input type="text" id="billing_name" name="client[billing_info_attributes][name]" class="required" />
					</p>
					
					<div>
						<p><label class="block"><span class="req">* </span>Card Type:</label> </p>
						
						<div id="cc_icons">
							<% BillingInfo.credit_cards.each do |card| %>
								<span class="cc_icon <%= card.downcase %>" title="<%= card %>"></span>
							<% end %>
						</div>
						
						<select class="hide card_select" id="billing_card_type" name="client[billing_info_attributes][card_type]">
							<% BillingInfo.credit_cards.each do |card| %>
								<option value="<%= card.downcase %>"><%= card %></option>
							<% end %>
						</select>
					</div>
					
					<p class="cc_number">
						<label for="billing_card_number"><span class="req">* </span>Card Number:</label><br />
						<input type="text" id="billing_card_number" maxlength="16" name="client[billing_info_attributes][card_number]" class="required credit_card card_auto_select" />
					</p>
					<p class="uncollapse">
						<span id="cvv_wrap" class="small_wrap">
							<label for="billing_cvv"><span class="req">* </span>CVC:</label><br />
							<input type="text" id="billing_cvv" maxlength="4" name="client[billing_info_attributes][cvv]" class="required" />
						</span>
						
						<span id="expires_wrap" class="small_wrap">
							<label><span class="req">* </span>Expiration:</label>
							<select name="client[billing_info_attributes][expires_month]" id="billing_expires_month" class="month required" >
							  	<% 1.upto(12) do |i| %>
									<%= num = i < 10 ? "0#{i}" : i %>
									<option value="<%= num %>"><%= num %></option>
								<% end %>
							</select>
							<select name="client[billing_info_attributes][expires_year]" id="billing_expires_year" class="year required" >
							  	<% 0.upto(11) do |i| %>
									<option value="<%= year_from_now_plus i %>"><%= year_from_now_plus i %></option>
								<% end %>
							</select>
						</span>
					</p>
			
				</div>
			</form>
	  		
			<img src="http://s3.amazonaws.com/storagelocator/images/ui/storagelocator/step4.png" alt="" />
	
		</div> <!-- END step 5 -->
		
		<div id="signupstep_6" class="workflow_step">
			<div class="intro">
				<h3>What happens next...</h3>
				<p>
					This information will be used for your main Administrator Account. You’ll be able to add more facilities later, and assign limited access manager accounts if necessary.
				</p>
			</div>
			
			<div class="wraped">
				<div class="inner hide">
					<h4>Contact Information:</h4>

					<div class="review_info">
						<div class="label">Company Name:</div> 
						<p class="listing_title" data-field="client[company]"></p>
						
						<div class="label address">Company Address:</div> 
						<p class="listing_address" data-field="client[mailing_address_attributes][address]"></p>
						<p class="listing_address" data-field="client[mailing_address_attributes][address2]"></p>
						
						<div class="label name">Name:</div> 
						<p class="name" data-field="name"></p>

						<div class="label">Phone:</div> 
						<p class="phone" data-field="client[mailing_address_attributes][phone]"></p>

						<div class="label">Email:</div>
						<p class="email" data-field="client[email]"></p>
						
						<p class="opt_choice" data-field="client[wants_newsletter]"></p>
					</div>
					
					<h4>Billing Information:</h4>
					
					<div class="review_info">
						<div class="label">Name on Card:</div> 
						<p class="billing_name" data-field="client[billing_info_attributes][name]"></p>
						
						<div class="label">Card Type:</div> 
						<p class="billing_zip" data-field="client[billing_info_attributes][card_type]"></p>
						
						<div class="label">Card Number:</div> 
						<p class="billing_zip" data-field="client[billing_info_attributes][card_number]"></p>
						
						<div class="label">CVV:</div> 
						<p class="billing_zip" data-field="client[billing_info_attributes][cvv]"></p>
						
						<div class="label">Expires:</div> 
						<p class="billing_zip" data-field="expires"></p>
						
						<div class="label address">Address:</div> 
						<p class="billing_address" data-field="client[billing_info_attributes][address]"></p>
						
						<div class="label">City:</div> 
						<p class="billing_city" data-field="client[billing_info_attributes][city]"></p>

						<div class="label">State:</div> 
						<p class="billing_state" data-field="client[billing_info_attributes][state]"></p>

						<div class="label">Zip:</div> 
						<p class="billing_zip" data-field="client[billing_info_attributes][zip]"></p>
					</div>
					
					<h4>Membership Option:</h4>
					<ul id="review_btns" class="mem_ops">
						<li class="selected">
							<span class="desc"></span>
						</li>
					</ul>
					<p class="topbtm_framed">Cost: <span id="plan_cost"></span> (Charged only after your 30 day free trial)</p>
					
					<div id="chosen_listings" class="hide">
						<h4 id="listings">My Listings:</h4>
						
						<div class="listings_summary">
							<div class="listing_div">
								<div class="left block num"></div>
								<div class="listing_in">
									<p class="listing_title"></p>
									<p class="listing_address"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img class="graphic" src="/images/ui/storagelocator/step6.png" alt="" />
			
			<div id="signup_agree_btns">
				<p id="terms_use_check" class="agree_check">
					<input type="checkbox" name="terms_of_use" id="terms_of_use" value="1" class="required" checked="checked" />
					<label for="terms_of_use">I agree to the <a href="/terms-of-use-facility-owners" target="_blank">Terms of Use</a>.</label>
				</p>
			
				<p class="agree_check">
					<input type="checkbox" name="client[rental_agree]" id="rental_agree" value="1" />
					<label for="rental_agree">I'm interested in Online Rentals! <%= help_pop_up_link 'rent-pop', :title => 'Activate Online Rentals' %></label>
				</p>
			</div>
			<div id="rent-pop" class="hide">
				<p>
					By offering customers the ability to rent storage online we make their decision easier and more economical to make. Plus, this makes it more likely that the customers we bring you are more serious about paying. We handle the transactions including credit card validation and refunds up to the move in date. 
				</p>
				
				<p>
					This is awesome! You say. Where's the catch? Well, all we need is 50% of one month of the move in cost. That's it. Cheap huh? We'll even throw in the first rental commission free! 
				</p>
				
				<p>This is how it works: </p>
				<ul class="stack">
					<li id="cust_locates">A customer locates your facility on USSSL</li>
					<li id="cust_rents">They rent one of your units using our Secure Rental Form</li>
					<li id="cust_pays">We bill them on the day they move in and transfer the funds to you.</li>
				</ul>
				
				<p>Do you want to enable Online Rentals?</p>
				
				<div class="stack uncollapse">
					<a href="#" id="rent_no" class="rent_continue white left blue_btn">No, maybe later.</a>
					<a href="#" id="rent_yes" class="rent_continue white right grn_btn">Yes of course!</a>
				</div>
			</div>
			
		</div> <!-- END step 4 -->
		
		<div id="signupstep_7" class="workflow_step">
			<div id="signup_processing">
				<div class="intro">
					<h3>Your account is being created.</h3>
					<p>Please wait while we setup your account. </p>
				</div>
				
				<div class="wraped">
					<%= ajax_loader 'ajax-loader-long-green.gif', :style => 'margin:90px auto;display:block;' %>
				</div>
			</div>
			
			<div id="signup_complete" class="hide">
				<div class="intro">
					<h3>Your Account is Pending Verification.</h3>
				</div>
				
				<div class="wraped">
					<p><strong>Thank You!</strong></p> 
					<br />
					<p>We'll contact you as soon as we receive notification that you signed up, during business hours of course. After you're activated you'll be able to claim more facilities of yours that we may have listed using a simple tool in your account page.</p>
					<br />
					<p>Feel free to call us at the number below if you have any other questions.</p>
				</div>
			</div>
				
			<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step5.png"/>
		</div> <!-- END step 5 -->

	</div>
	<div id="contact">Need Help Signing Up?  Call <strong><%= $_usssl_phone %></strong></div>
	<div id="workflow_nav">
		<a class="button back" id="back" href="#back">Back</a>
		<a class="button skip" id="skip" href="#skip">Skip</a>
	  	<a class="button next" id="next" href="#next">Next</a>
	</div>
	
</div>