<div id="workflow_steps">
	<div class="items">
		<div id="signupstep_2" class="workflow_step">
			<div class="left">
				<h3>Choose Your Facility.</h3>
				<p>Select all the self storage facilities that belong to you to have them added to your owner account. We will manually verify ownership after signing up. You can add more facilities if needed after your account has been created.</p>
				<p class="note">
				<strong>Note:</strong> Got 10 or more facilities? Please contact us for signup assistance and further membership details.</p>
				<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step1a.png"/>
			</div>
		
			<div class="found_box">
				<p class="display">We found <span></span> facilities that might belong to you.</p>
				<div class="small_listings"></div>
			</div>
		
			<div class="hidden listing_div selectable">
				<div class="left block num"></div>
			  	<div class="listing_in">
	  				<p class="listing_title"></p>
	  				<p class="listing_address"></p>
	  				<div class="check"><span><input type="checkbox" class="hidden" name="listing_id" value="" /></span></div>
	  			</div>
			</div>
		
		</div> <!-- END step 2 -->

		<div id="signupstep_3" class="workflow_step">
		
			<div class="intro">
				<h3>Great! Now enter your contact information.</h3> 
				<p>This name and address will be used on your main Administrator Account, you'll have full access to all the facilities added to this account.</p>
			</div>
		
		    <form action="" method="" id="contact_info_form" class="silent">
				<div class="left">
					<p>
						<label>First Name:</label><br />
						<input type="text" id="first_name" name="first_name" class="required" />
					</p>
					<p>	
						<label>Last Name:</label><br />
						<input type="text" id="last_name" name="last_name" class="required" />
					</p>	
					<p>
						<label>Facility Address (Line 1):</label><br />
						<input type="text" id="listing_address" name="listing_address" class="required" />
					</p>
					<p>
						<label>Facility Address (Line 2):</label><br />
						<input type="text" id="listing_address2" name="listing_address2" />
					</p>
				</div>
				<div class="left">
					<p>
						<label>City:</label><br />
						<input type="text" id="listing_city" name="listing_city" class="required autocomplete" data-autocomp-source="UsCity_names|5" />
					</p>
					<p class="state">
						<label>State:</label><br />
						<input type="text" id="listing_state" name="listing_state" class="required autocomplete" data-autocomp-source="States_abbrevs|1" />
					</p>
					<p>
						<label>Zip Code:</label><br />
						<input type="text" id="listing_zip" maxlength="5" name="listing_zip" class="numeric_zip" />
					</p>
					<p>
						<label>Phone Number:</label><br />
						<input type="text" id="listing_phone" maxlength="14" name="listing_phone" class="numeric_phone" />
					</p>
					<p>
						<label>Email:</label><br />
						<input type="text" id="listing_email"/>
					</p>
			
				</div>
				<p class="opt_in">
					<input type="checkbox" name="wants_newsletter" id="wants_newsletter" value="1" checked="checked" />
					<label for="wants_newsletter">Send me the latest news.</label>
				</p>
			</form>
	  		
			<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step1b.png"/>
	
		</div> <!-- END step 3 -->
		
		<div id="signupstep_4" class="workflow_step">
			<div class="intro">
				<h3>Membership Options</h3>
				<p>
					Choose the membership option that best suits your needs. Take advantage of our extended term options for added savings and less payment due dates to worry about.
				</p>
			</div>
			
			<div id="mem_options" class="right">
				<h4>Select a Membership Option</h4>
				<p><span>30 Day Free Trial</span> will be included with all membership options.</p>
				<ul id="btns">
					<li><span>Monthly</span></li>
					<li><span>Every 3 Months ($49.50/m)</span></li>
					<li><span>Every 6 Months ($44.50/m)</span></li>
				</ul>
				<ul id="prices">
					<li>$54.50</li>
					<li>$148.50</li>
					<li>$267.00</li>
				</ul>
				<p style="margin-top:10px;">10 or more Facilities? Call us for more membership options.</p>
			</div>
			
			<div id="list">
				<h4>Rated Best Value for the Price</h4>
				<ul>
					<li>Increased Online Exposure</li>
					<li>SEO &#38; Media Enhanced Facility Profile</li>
					<li>Lead Tracking &#38; Periodic Reporting</li>
					<li>Call Tracking &#38; Online Unit Rentals</li>
					<li>Inventory Synchronization</li>
				</ul>
			</div>
			
		</div> <!-- END step 4 -->
		
		<div id="signupstep_5" class="workflow_step">
		
			<div class="intro">
				<h3>Billing Information</h3> 
				<p>Your account will not be billed at this time. <a class="notice" href="">After 30 days your account will be automatically renewed and your credit card billed unless your membership is cancelled.</a></p>
			</div>
		
		    <form action="" method="" id="billing_info_form" class="silent">
				<div class="left">
					<p>
						<label><span class="req">* </span>Address:</label><br />
						<input type="text" id="billing_address" name="billing_address" class="required" />
					</p>
					<p>	
						<label><span class="req">* </span>City:</label><br />
						<input type="text" id="billing_city" name="billing_city" class="required" />
					</p>	
					<p class="state">
						<label><span class="req">* </span>State:</label><br />
						<input type="text" id="billing_state" name="billing_state" class="required" />
					</p>
					<p>
						<label><span class="req">* </span>Zip Code:</label><br />
						<input type="text" id="billing_zip" name="billing_zip" maxlength="5" class="required numeric_zip" />
					</p>
					<p>
						<label><span class="req">* </span>Phone Number:</label><br />
						<input type="text" id="billing_phone" name="billing_phone" maxlength="14" class="required numeric_phone" />
					</p>
				</div>
				<div class="left">
					<p>
						<label class="block" for="tenant_billing_infos_attributes_0_card_type"><span class="req">* </span>Card Type:</label> 
						
						<div id="cc_icons">
							<% BillingInfo.credit_cards.each do |card| %>
								<span class="cc_icon <%= card.downcase %>" title="<%= card %>"></span>
							<% end %>
						</div>
						
						<select class="hide card_select" id="tenant_billing_infos_attributes_0_card_type" name="tenant[billing_infos_attributes][0][card_type]">
							<% BillingInfo.credit_cards.each do |card| %>
								<option value="<%= card.downcase %>"><%= card %></option>
							<% end %>
						</select>
					</p>
					<p>
						<label><span class="req">* </span>Name on Credit Card:</label><br />
						<input type="text" id="billing_cc_name" name="billing_cc_name" class="required" />
					</p>
					<p class="cc_number">
						<label><span class="req">* </span>Card Number:</label><br />
						<input type="text" id="billing_cc_number" maxlength="16" name="billing_cc_number" class="required" />
					</p>
					<p>
						<label><span class="req">* </span>CVC:</label><br />
						<input type="text" id="billing_cc_cvc" maxlength="4" name="billing_cc_cvc" class="required" />
					</p>
					<p>
						<label><span class="req">* </span>Expiration:</label><br />
						<select name="month" class="month required" >
						  	<option value="January">January</option>
						  	<option value="February">February</option>
						  	<option value="March">March</option>
							<option value="April">April</option>
							<option value="May">May</option>
							<option value="June">June</option>
							<option value="July">July</option>
							<option value="August">August</option>
							<option value="September">September</option>
							<option value="October">October</option>
							<option value="November">November</option>
							<option value="December">December</option>
						</select>
						<select name="year" class="year required" >
						  	<option value="2011">2011</option>
						  	<option value="2012">2012</option>
						  	<option value="2013">2013</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
						</select>
					</p>
			
				</div>
			</form>
	  		
			<img src="http://s3.amazonaws.com/storagelocator/images/ui/storagelocator/step4.png">
	
		</div> <!-- END step 5 -->
		
		<div id="signupstep_6" class="workflow_step">
			<div class="intro">
				<h3>What happens next...</h3>
				<p>
					This information will be used for your main Administrator Account. You’ll be able to add more facilities later, and assign limited access manager accounts if necessary.
				</p>
			</div>
			
			<div class="wraped">
				<div class="inner hide">
					<h4>Contact Information:</h4>

					<div id="review_contact">
						<div class="label">Company Name:</div> 
						<p class="listing_title"></p>
						
						<div id="address" class="label">Company Address:</div> 
						<p class="listing_address"></p>
						
						<div id="name" class="label">Name:</div> 
						<p class="name"></p>

						<div class="label">Phone:</div> 
						<p class="phone"></p>

						<div class="label">Email:</div> 
						<p class="email"></p>
					</div>

					<p class="opt_choice"></p>

					<div id="chosen_listings" class="hide">
						<h4 id="listings">My Listings:</h4>
						
						<div class="small_listings">
							<div class="listing_div">
								<div class="left block num"></div>
								<div class="listing_in">
									<p class="listing_title"></p>
									<p class="listing_address"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img src="/images/ui/storagelocator/step6.png"/>
			
			<div id="signup_agree_btns">
				<p id="terms_use_check" class="agree_check">
					<input type="checkbox" name="terms_of_use" id="terms_of_use" value="1" class="required" checked="checked" />
					<label for="terms_of_use">I agree to the <a href="/terms-of-use-facility-owners" target="_blank">Terms of Use</a>.</label>
				</p>
			
				<p class="agree_check">
					<input type="checkbox" name="client[rental_agree]" id="rental_agree" value="1" />
					<label for="rental_agree"><%= auto_pop_up_link 'I&rsquo;m interested in Online Rentals!', 'rent-pop', { :title => 'Activate Online Rentals', :width => '500px', :height => 'auto', :modal => false } %></label>
				</p>
			</div>
			<div id="rent-pop" class="hide">
				<p>
					By offering customers the ability to rent storage online we make their decision easier and more economical to make. Plus, this makes it more likely that the customers we bring you are more serious about paying. We handle the transactions including credit card validation and refunds up to the move in date. 
				</p>
				
				<p>
					This is awesome! You say. Where's the catch? Well, all we need is 50% of one month of the move in cost. That's it. Cheap huh? We'll even throw in the first rental commission free! 
				</p>
				
				<p>This is how it works: </p>
				<ul class="stack">
					<li id="cust_locates">A customer locates your facility on USSSL</li>
					<li id="cust_rents">They rent one of your units using our Secure Rental Form</li>
					<li id="cust_pays">We bill them on the day they move in and transfer the funds to you.</li>
				</ul>
				
				<p>Do you want to enable Online Rentals?</p>
				
				<div class="stack uncollapse">
					<a href="#" id="rent_no" class="rent_continue white left blue_btn">No, maybe later.</a>
					<a href="#" id="rent_yes" class="rent_continue white right grn_btn">Yes of course!</a>
				</div>
			</div>
			
		</div> <!-- END step 4 -->
		
		<div id="signupstep_7" class="workflow_step">
			<div id="signup_processing">
				<div class="intro">
					<h3>Your account is being created.</h3>
					<p>Please wait while we setup your account. </p>
				</div>
				
				<div class="wraped">
					<%= ajax_loader 'ajax-loader-long-green.gif', :style => 'margin:90px auto;display:block;' %>
				</div>
			</div>
			
			<div id="signup_complete" class="hide">
				<div class="intro">
					<h3>Your Account is Pending Verification.</h3>
				</div>
				
				<div class="wraped">
					<p><strong>Thank You!</strong></p> 
					<br />
					<p>We'll contact you as soon as we receive notification that you signed up, during business hours of course. After you're activated you'll be able to claim more facilities of yours that we may have listed using a simple tool in your account page.</p>
					<br />
					<p>Feel free to call us at the number below if you have any other questions.</p>
				</div>
			</div>
				
			<img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/step5.png"/>
		</div> <!-- END step 5 -->

	</div>
	<div id="contact">Need Help Signing Up?  Call <strong><%= $_usssl_phone %></strong></div>
	<div id="workflow_nav">
		<a class="button back" id="back" href="#back">Back</a>
		<a class="button skip" id="skip" href="#skip">Skip</a>
	  	<a class="button next" id="next" href="#next">Next</a>
	</div>
	
</div>