<% declare_content_for %>
<%= display_message flash %>

<h1 class="hidden">Search results listing</h1>
<a name="top" id="top"></a>

<div id="type-one-r-col">
  <div id="type-three-r-col-in">
    
    <div id="sl-header">
      <h2>Account Overview</h2>
    </div>
    
    <div id="ov-page-cnt">

      <div id="ov-top">
        <ul id="ov-top-list">
          <li>Account #: <span id="client_id"><%= @client.id %></span></li>
          <li>Number of listings: <span id="listings_size"><%= @client.listings.size %></span></li>
        </ul>
      </div>
     
	<%= render_hints_in 'owner info' %>
 	  <div id="ov-info" class="instant_form hideable">
        <div id="ov-item-head">
          <h3><span>Owner / Management Info.</span></h3>
		
  	      <%= ajax_loader %>
          <p><a id="client_edit_contact" class="instant_submit<%= ' clickerd' if flash[:notice] && flash[:notice] == @flash_msgs[:new_client] rescue false %>" href="#">Edit</a></p>
        </div>
		
        <div class="ov-info-cnt">
          <p>Mailing Address</p>
          <ul>
            <li><span class="label">Name:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.name if @client.has_mailing_address? %></span></li>
            <li><span class="label">Company:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.company if @client.has_mailing_address? %></span></li>
            <li><span class="label">Address:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.address if @client.has_mailing_address? %></span></li>
            <li><span class="label">Phone:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.phone if @client.has_mailing_address? %></span></li>
            <li><span class="label">Email:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.email if @client.has_mailing_address? %></span></li>
          </ul>
        </div>

        <div class="ov-info-cnt">
          <p>Billing Info</p>
          <ul>
            <li><span class="label">Name:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.name if @client.has_billing_info? %></span></li>
            <li><span class="label">Address:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.address if @client.has_billing_info? %></span></li>
  			<li><span class="label">Phone:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.phone if @client.has_billing_info? %></span></li>
            <li><span class="label">Card Type:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.card_type if @client.has_billing_info? %></span></li>
            <li><span class="label">Card Number:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.card_number if @client.has_billing_info? %></span></li>
          </ul>
        </div>
  	    <% form_for @client, :html => { :id => "client_edit_#{@client.id}", :class => 'hidden' } do |f| %><% end %>
      </div>
		
	<%= render_hints_in 'facilities' %>
      <div id="ov-units" class="hideable">
		<div id="ov-units-head">
			<h3><span>Facilities</span></h3>
			<% if @client.listings.size > 1 %><p id="address_sort"><a href="#">Sort by address</a></p><% end %>
			<%= ajax_loader %>
			<a href="#" id="add_fac" title="Add a new facility">New</a>
        </div>
        
        <div id="client_listing_box">
          <% unless @listings.empty? %>
            <div id="rslt-list-bg">
              <%= render :partial => 'listings/listing', :collection => @listings, :locals => { :owned => true } %>
              <%= will_paginate @listings %>
            </div>
          <% else %>
            <div id="empty_listings">
              <% unless @client.potential_listings.empty? %>
                <div id="client_listing_picker">
                  <%= render :partial => 'listings/listing', :collection => @client.potential_listings, :locals => { :owned => false } %>
                </div>
              <% else %>
                <p class="client_tip">Click NEW to add your first facility listing.</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      
	<%= render_hints_in 'reports' %>
      <div id="ov-reports" class="hideable">
        <div id="ov-item-head">
          <h3><span>Reports</span></h3>
        </div>
        <div id="ov-reports-cnt">
          <ul>
            <li><%= link_to '<span>Clicks</span>', '#clicks', :id => 'clicks' %></li>
            <li><%= link_to '<span>Calls</span>', '#calls', :id => 'calls' %></li>
            <li><%= link_to '<span>Reservations</span>', '#reservations', :id => 'reservations' %></li>
          </ul>
        </div>
      </div>
     
	<%= render_hints_in 'settings' %>
      <div id="ov-settings" class="hideable">
        <div id="ov-item-head">
          <h3><span>Settings</span></h3>
        </div>
        <div id="ov-settings-cnt">
          <p>Content will go here...</p>
          <p>Content will go here...</p>
          <p>Content will go here...</p>
          <p>Content will go here...</p>
        </div>
      </div>
      
      <div id="sl-footer"></div>
      
    </div>
    <div class="clear"></div>

  </div>
</div>