<% declare_content_for %>
<div id="ajax_wrap_inner">
	<% display_message flash %>
	<div id="ov-header">
		<h2><%= user_account_title %></h2>
		<ul>
			<li>Account #: <span id="client_id"><%= @client.id %></span></li>
			<li>
				Number of listings: <span id="listings_size"><%= @client.enabled_listings.size %></span>
				<%= hidden_field_tag 'issn_enabled', @client.issn_enabled? %>
			</li>
		</ul>
	</div>

	<div id="ov-page-cnt">
		<div id="ov-member" class="stack">
			<div class="ov-item-head uncollapse">
				<h3 class="left"><span>Member Info</span></h3>
				
				<% unless @client.verification_sent_at.nil? %>
					<%= link_to "ReVerify", verify_client_path(@client), :id => 'client_verify', :class => 'right left_space click_thru', :title => "Verification sent at: #{@client.verification_sent_at.asctime}" %>
				<% else %>
					<%= link_to "Verify", verify_client_path(@client), :id => 'client_verify', :class => 'right left_space click_thru', :title => 'Verify all listings and send activation email' %>
				<% end unless @client.active? %>
				<%= link_to 'Control Panel', admin_to_client_path(@client), :class => 'right click_thru' %>
			</div>
			
			<div id="mem_info" class="framed uncollapse">
				<%= render :partial => 'users/user_info', :locals => { :user => @client } %>
			</div>
			<%= print_link '#mem_info', '#', :class => 'ps right right_space', :style => 'margin:-20px 17px 0 0' %>
		</div>
		
		<%= link_to 'Activate Claimed Listings', verify_listings_client_url(@client, :claimed_listing_ids => @client.claimed_listings.map(&:id), :protocol => 'https'), :id => 'activate_listings', :class => 'click_thru grn_btn stack block left' unless @client.claimed_listings.empty? %>
		<div id="ov-units" class="hideable">
			<div class="ov-item-head">
				<h3><span>Facilities</span></h3>
				<% if @client.listings.size > 1 %>
					<p id="address_sort"><a href="#">Sort by address</a></p>
				<% end %>
				<%= ajax_loader %>
				<a href="#" id="add_fac" class="btn" title="Add a new facility">New</a>
			</div>

			<div id="client_listing_box">
				<div id="rslt-list-bg">
					<%= render :partial => 'listings/listing', :collection => @client.listings, :locals => { :owned => true, :claimed => false } %>
					<%= render :partial => 'listings/listing', :collection => @client.claimed_listings.map(&:listing), :locals => { :owned => true, :claimed => true } if user_is_a?('admin', 'staff') %>
				</div>
			</div>
		</div>

		<div id="ov-info" class="hideable">
			<div class="ov-item-head">
				<h3><!--<span>Billing Info</span>--><span class="Xright">Mailing Address</span></h3>

				<%= ajax_loader %>
				<a id="client_edit_contact" class="btn" href="#">Edit</a>
			</div>

			<%= render :partial => 'owner_info' %>
		</div>

		<div id="ov-settings" class="hideable">
			<div class="ov-item-head">
				<h3><span>Settings</span></h3>

				<%= ajax_loader 'ajax-loader-facebook.gif', :id => 'sf_loader' %>
				<a id="client_edit_settings" class="btn save_btn" context="#ov-settings" loader="#sf_loader" replace="#ov-settings-cnt" href="#">Update</a>
			</div>
			<%= render :partial => 'settings' %>
		</div>
		
		<div id="ov-stats" class="hideable">
			<div class="ov-item-head">
				<h3><span>Last Request Browser Info</span></h3>
			</div>
			<div class="framed">
				<%= render @client.user_stats.last unless @client.user_stats.empty?  %>
			</div>
		</div>
	</div>
</div>

<div class="uncollapse">
  	<div class="right"><%= link_to "#{@client.name.possessive} Images", user_images_path(@client) %></div>
  	<div class="buttons"><%= button_to 'Edit', edit_user_path, { :method => 'get' } %></div>
</div>