<div class="round box framed uncollapse stack">  
  <ul class="plain with_floats spaced_list_items">
	  <li>
  	  <b class="block left w110">Login:</b>
  	  <%=h reserver.name %>
  	</li>

  	<li>
  	  <b class="block left w110">Email:</b>
  	  <%=h reserver.email %>
  	</li>
  	
  	<li>
  	  <b class="block left w110">Role:</b>
  	  <%=h reserver.role.title %>
  	</li>

  	<li>
  	  <b class="block left w110">Login count:</b>
  	  <%=h reserver.login_count %>
  	</li>

  	<li>
  	  <b class="block left w110">Last request at:</b>
  	  <%=h reserver.last_request_at %>
  	</li>

  	<li>
  	  <b class="block left w110">Last login at:</b>
  	  <%=h reserver.last_login_at %>
  	</li>

  	<li>
  	  <b class="block left w110">Current login at:</b>
  	  <%=h reserver.current_login_at %>
  	</li>

  	<li>
  	  <b class="block left w110">Last login ip:</b>
  	  <%=h reserver.last_login_ip %>
  	</li>

  	<li>
  	  <b class="block left w110">Current login ip:</b>
  	  <%=h reserver.current_login_ip %>
  	</li>
  </ul>
</div>