<ul class="users_view list_view plain">
	<% data.each do |model| %>
		<li id="<%= model_class_and_id(model) %>" class="medium_round <%= cycle('odd', 'even') %>">
			<div class="buttons left_space right">
				<div id="Mem_<%= model.id %>" class="hide">
					<%= render :partial => 'users/user_info', :locals => { :user => model } %>
				</div>
				<%= print_link "#Mem_#{model.id}", '#', { :title => "Print this #{model.class.name.possessive} details" }, '' %>&nbsp;
				<%= render :partial => 'shared/edit_delete_link', :locals => { :model => model } %>
			</div>
			
			<% if model.respond_to? :listings %>
				<div class="left_space right note">
					<%= pluralize model.listings.size, 'Listing' if model.active? %>
				</div>
				
				<div class="left_space right note">
					<%= pluralize model.claimed_listings.size, 'Claimed Listing' unless model.claimed_listings.empty? %>
				</div>
			<% end %>
			
			<div class="left_space right note" style="width:52px;">
				<%= model.status %>
			</div>
			
			<% unless model.verification_sent_at.nil? %>
				<img class="veri_at right" src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/checkmark.png" alt="Verification sent at: <%= model.verification_sent_at.asctime %>" title="Verification sent at: <%= model.verification_sent_at.asctime %>">
			<% end %>
			
			<% if params[:sort] && !%w(first_name last_name email).include?(params[:sort]) %>
				<div class="left_space right_space right note" style="width:52px;">
					<%= model.send params[:sort] %>
				</div>
			<% end %>
			
			<span class="title">
				<span class="note">(<%= model.id %>)</span>
				<%= link_to model_name_or_title(model), model_path(model) %>
			</span>
			<span class="email">
				<%= mail_to model.email, nil, :class => 'click_thru' %>
			</span>
			
		</li>
	<% end %>
</ul>

<%= render :partial => 'views/paginate', :locals => { :data => data } %>