<% @listing ||= listing %>
<div id="Size_<%= size.id %>" class="sl-table-wrap" rel="listing_<%= @listing.id %>" has-res="<%= @listing.accepts_reservations? %>">
	<ul class="sl-table<%= ' open_reserve_form' unless is_facility_owner? %>">
		<li class="st-size"><%= size.display_dimensions %></li>
		<li class="st-type"><%= size.title %></li>
		<li class="st-desc" title="<%= size.description %>"><%= size.description %></li>
		<li class="st-pric"><%= number_to_currency size.dollar_price %></li>
		
		<% if in_edit_mode? && @listing.issn_enabled? %>
			<li class="st-avail"><%= size.unit_type.units_available? ? 'Yes' : 'No' %></li>
		<% end %>
		
		<li class="st-rese">
			<% if (in_edit_mode? || (defined?(pretend_action) && pretend_action == 'edit')) && !@listing.issn_enabled? %>
				<%= link_to 'Edit', listing_size_path(@listing, size), :class => 'edit-btn', :rel => 'cancel' %>
				<%= hidden_field_tag 'size_id', size.id, :id => "size_#{size.id}" %>
			<% elsif defined?(pretend_action) && pretend_action == 'new' %>
				<%= link_to 'Edit', listing_sizes_path(@listing), :class => 'edit-btn', :rel => 'close' %>
			<% elsif current_user.nil? || (current_user && current_user.is_a?(Reserver)) %>
				<%= ajax_loader %>
				<a href="#" class="rsr-btn">Select</a>
			<% end %>
		</li>
		
		<% if in_edit_mode? && !@listing.issn_enabled? %>
		<li class="st-sele">
			<%= link_to 'Delete', '#', :class => 'hidden delete_link iconOnly16 right', :title => 'Delete' unless size.new_record? %>
			<%= link_to 'Cancel', '#', :class => 'hidden cancel_link iconOnly16 right', :title => 'Cancel', :rel => (size.new_record? ? 'close' : 'cancel') %>
		</li>
		<% end %>
	</ul>

	<% if is_facility_owner? && !@listing.issn_enabled? %>
		<% form_for [@listing, size], :html => { :class => 'hidden_form' }, :method => :put do |f| %><% end %>
	<% elsif in_mode?('locator', 'get_partial', 'show') %>
		<div class="reserve_form hidden"></div>
	<% end %>
</div>