<% form_for @search, :url => search_form_path('auto_search'), :html => { :id => 'goto_results_form', :class => 'silent' } do |f| %>
	<div id="offset_search_box">
		<%= f.text_field :query, :value => @search.full_location, :class => 'hintable autocomplete click_sel', :title => 'Zip Code, City, or Street Address', :'data-autocomp-source' => 'UsCity_namesNstate|3' %>
		<%= reverse_captcha %>
		<%= f.submit 'Locate', :class => 'grn_btn' %>
	</div>
<% end %>

<% unless (@info_posts ||= Post.tagged_with('storageinfo')).blank? %>
	<ul class="block_sortable tabular" id="info_tabs">
		<% @info_posts.sort_by(&:position).each_with_index do |post, i| %>
			<li id="Post_<%= post.id %>" rel="position"<%= ' class="first"' if i == 0 %>>
				<h4><%= link_to post.title, post, :rel => "info_#{post.id}" %></h4>
			</li>
		<% end %>
	</ul>
<% else %>
	<p class="flash error">No Storage Info Available.</p>
<% end %>