<div id="subfooter">
	<div id="business_assoc">
		<p><strong>Members of:</strong></p>
		<script src="//www.bbb.org/south-east-florida/click-to-check.js" type="text/javascript"></script>
		<a href="http://www.bbb.org/south-east-florida/business-reviews/directory-guide-publishers/usselfstoragelocatorcomllc-in-north-miami-fl-90015294" id="bbb-report-link" title="Click to verify BBB accreditation and to see a BBB report for USSelfStorageLocator.com,LLC" target="_blank">
			<img src="http://s3.amazonaws.com/storagelocator/images/ui/storagelocator/seal-for-usselfstoragelocatorcomllc-90015294-hor-150-57.png" alt="Click to verify BBB accreditation and to see a BBB report for USSelfStorageLocator.com,LLC" title="Click to verify BBB accreditation and to see a BBB report for USSelfStorageLocator.com,LLC" />
		</a>
		
		<img src="http://s3.amazonaws.com/storagelocator/images/ui/storagelocator/ssa-logo.png" alt="Member of Self Storage Association" />
	</div>
	
	<%= ssl_seal %>

	<div id="social-media">
		<p>
			<strong>Share This Site:</strong>
			<br />
			We’ll be coming out with awesome specials through our social and business network pages.
		</p>
		<div id="icons">
			<a href="http://www.facebook.com/share.php?u=<%= CGI.escape current_path %>" target="_blank"><img src="/files/content/socialmedia/facebook.png" alt="Follow us on Facebook"></a> 
			<a href="http://www.twitter.com/home?status=<%= CGI.escape "I found a great place to rent self storage at #{current_path}" %>" target="_blank"><img src="/files/content/socialmedia/twitter.png" alt="Follow us on Twitter"></a> 
			<a href="http://digg.com/submit?url=<%= CGI.escape current_path %>" target="_blank"><img src="/files/content/socialmedia/digg.png" alt="Share us on Digg"></a> 
			<!--<a href="http://www.usselfstoragelocator.com/rss"><img src="/files/content/socialmedia/rss.png" alt="USSelfStorageLocator.com RSS Feed"></a>-->
			<!--<a href="http://www.linkedin.com"><img src="/files/content/socialmedia/linkedin.png" alt="Follow us on Linkedin"></a>-->
			<a href="http://www.stumbleupon.com/submit/?url=<%= CGI.escape current_path %>" target="_blank"><img src="/files/content/socialmedia/stumbleupon.png" alt="Share us on Stumbleupon"></a>
		</div>
	</div>
</div>

<div id="wrapper2">
	<div class="inner">
		<div id="footer-menu">
			<a href="/sitemap.xml">Sitemap</a> - 
			<a href="/storage-info">Self Storage Info</a> - 
			<a href="/self-storage-advertising">Add Your Facility</a> - 
			<a href="/privacy-policy">Privacy</a> -
			<a href="/refund-policy">Refunds</a> - 
			<a href="/terms-of-use">Terms</a> - 
			<a href="/self-storage-blog">Blog</a> - 
			<a href="/contact-us">Contact</a>
		</div>
		<div id="copyright">
			<p>&copy; 2011 USSelfStorageLocator.com All rights reserved.</p>
		</div>
	</div>
</div>