<fieldset>	
	<div class="stack">
		<%= f.label :title, 'Nav Title' %>
		<div class="shadow_wrap">
			<%= f.text_field :title, :class => 'required' %>
		</div>
	</div>
  
  	<div class="uncollapse stack">
  		<div class="check_box_wrap left right_space">
	  		<%= f.radio_button :status, 'draft', :checked => (@email_blast.new_record? ? true : @email_blast.status == 'draft') %>
	  		<%= f.label :status, 'Draft', :class => 'small_label' %>
		
			<%= f.radio_button :status, 'blast' %>
	  		<%= f.label :status, 'Blast', :class => 'small_label' %>
	  	</div>
	
	  	<div class="left uncollapse">
			<%= f.label :blast_date, nil, :class => 'block left w80' %>
			<%= f.text_field :blast_date, :class => 'mini_calendar hintable', :title => 'Leave blank to blast immediately', :style => 'width:200px' %>
		</div>
	</div>
	
	<div class="stack">
		<%= f.label :description, nil, :class => 'block_label' %>
		<div class="shadow_wrap">
			<%= f.text_area :description, :class => 'small_textarea' %>
		</div>
	</div>
	
	<div class="stack">
		<%= f.label :content, nil, :class => 'block_label' %>
		<div class="shadow_wrap">
			<%= f.text_area :content, :class => 'wysiwyg' %>
		</div>
	</div>
</fieldset>

<% unless @email_blast.new_record? %>
	<fieldset id="blaster">
		<div class="stack">
			<%= radio_button_tag :blast_type, 'test' %>
			<%= label_tag 'Test blast' %>
			<%= text_field_tag 'test_emails', 'diego@usselfstoragelocator.com', :style => 'width:400px' %>
		</div>
		
		<div class="stack">
			<%= radio_button_tag 'blast_type', 'for_real' %>
			<%= label_tag "Blast to all #{pluralize Client.opted_in.count, 'client'}" %>
		</div>
		
		<div class="stack">
			<button id="blast_off" class="right_space" data-blast-path="<%= blast_email_blast_path @email_blast %>">Blast Off!</button>
		</div>
	</fieldset>	
<% end %>