<% form_for Reservation.new, :html => { :id => "new_reservation_#{listing.id}", :class => 'silent new_reservation' } do |f| %>
	<div class="sl-table-exp-form-l">
		<p>
	        <%= label_tag 'reserver[first_name]', 'First Name', :class => 'block left w80' %> <%= text_field_tag 'reserver[first_name]', nil, :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'reserver[last_name]', 'Last Name', :class => 'block left w80' %> <%= text_field_tag 'reserver[last_name]', nil, :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'reserver[mailing_addresses_attributes][][address]', 'Address', :class => 'block left w80' %> <%= text_field_tag 'reserver[mailing_addresses_attributes][][address]', nil, :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'reserver[mailing_addresses_attributes][][city]', 'City', :class => 'block left w80' %> <%= text_field_tag 'reserver[mailing_addresses_attributes][][city]', nil, :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'reserver[mailing_addresses_attributes][][state]', 'State', :class => 'block left w80' %> <%= select_tag 'reserver[mailing_addresses_attributes][][state]', option_tags(States.all, nil, ''), :class => 'required' %>
		</p>
		<p class="zip">
	        <%= label_tag 'reserver[mailing_addresses_attributes][][zip]', 'Zip Code', :class => 'block left w80' %> <%= text_field_tag 'reserver[mailing_addresses_attributes][][zip]', nil, :class => 'required numeric max_5', :maxlength => 5 %>
		</p>
		<p>
			<% if defined?(unit_type) && unit_type %>
				<%= f.hidden_field :unit_type_id, :value => unit_type.id %>
			<% else %>
				<%= label_tag '[unit_type_id]', 'Unit Size', :class => 'block left w80' %>
				<%= f.select :unit_type_id, listing.unit_sizes_options_array %>
			<% end %>
		</p>
	</div>
	<div class="sl-table-exp-form-r">
		<p>
	        <%= label_tag 'reserver[mailing_addresses_attributes][][phone]', 'Phone', :class => 'block left w80' %> <%= text_field_tag 'reserver[mailing_addresses_attributes][][phone]', nil, :class => 'numeric_phone', :maxlength => 12 %>
		</p>
		<p>
	        <%= label_tag 'reserver[email]', 'Email', :class => 'block left w80' %> <%= text_field_tag 'reserver[email]', nil, :class => 'email' %>
		</p>
		<p class="datepicker_wrap">
	        <span class="hidden">Move In Date</span> <%= label_tag 'reservation[start_date]', 'Move-In Date', :class => 'block left w80' %> <%= text_field_tag 'reservation[start_date]', nil, :id => "move_in_#{listing.id}", :class => 'mini_calendar numeric_date' %>
		</p>
		<p class="datepicker_wrap">
	        <span class="hidden">Move Out Date</span> <%= label_tag 'reservation[end_date]', 'Move-Out Date', :class => 'block left w80' %> <%= text_field_tag 'reservation[end_date]', nil, :id => "move_out_#{listing.id}", :class => 'mini_calendar numeric_date' %>
		</p>
		<p>
	        <%= label_tag 'reservation[comments_attributes][][comment]', 'Comments', :class => 'block left w80' %> <%= text_area_tag 'reservation[comments_attributes][][comment]' %>
		</p>
		
		<div class="clear"></div>
		<p class="verisign">
	        <span class="hidden">Verisign Secure</span>
		</p>
		<p class="right">
			<%= f.hidden_field :listing_id, :value => listing.id %>
			<%= ajax_loader %>
	        <input id="submit-btn" type="submit" value="Submit" name="commit" />
		</p>
	</div>
<% end %>