<% form_for @reservation do |f| %>
	<h4 class="left_space">Lock In This Rate</h4>

	<div class="sl-table-exp-form-l">
		<p>Unit Type: <%= @reservation.unit_description %></p>
		<p>Monthly Rate: <%= number_to_currency @reservation.unit_type.size.dollar_price %></p>
		<p>Reserve Fee: <%= number_to_currency @reservation.fee %></p>
	</div>

	<div class="sl-table-exp-form-r">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur, elit id ultrices bibendum, orci ipsum sodales nibh, vel mollis lacus urna sit amet turpis.
		</p>
	</div>
	
	<h4 class="clear">Billing Info</h4>
	
	<div class="sl-table-exp-form-l">
		<p>
	        <%= label_tag 'billing_info[name]', 'Name', :class => 'block' %> <%= text_field_tag 'billing_info[name]', @reserver.name, :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'billing_info[phone]', 'Phone', :class => 'block' %> <%= text_field_tag 'billing_info[phone]', @reserver.mailing_address.phone, :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'billing_info[address]', 'Address', :class => 'block' %> <%= text_field_tag 'billing_info[address]', @reserver.mailing_address.address, :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'billing_info[city]', 'City', :class => 'block' %> <%= text_field_tag 'billing_info[city]', @reserver.mailing_address.city, :class => 'required' %>
		</p>
		<div class="uncollapse">
			<p class="state_field">
				<%= label_tag 'billing_info[state]', 'State', :class => 'block' %> <%= text_field_tag 'billing_info[state]', @reserver.mailing_address.state, :class => 'required autocomplete', :rel => 'State_abbrevs|1' %>
			</p>
			<p class="zip_field">
		        <%= label_tag 'billing_info[zip]', 'Zip Code', :class => 'block' %> <%= text_field_tag 'billing_info[zip]', @reserver.mailing_address.zip, :class => 'required' %>
			</p>
		</div>
	</div>
	
	<div class="sl-table-exp-form-r">
		<p>
	        <%= label_tag 'billing_info[card_type]', 'Card Type', :class => 'block' %> <%= select_tag 'billing_info[card_type]', option_tags(['Visa', 'Amex', 'MasterCard', 'Discover']), :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'billing_info[card_number]', 'Card Number', :class => 'block' %> <%= text_field_tag 'billing_info[card_number]', nil, :class => 'required' %>
		</p>
		<p>
			<%= label_tag 'billing_info[ccv]', 'CCV', :class => 'block' %> <%= text_field_tag 'billing_info[ccv]', nil, :class => 'required' %>
		</p>
		<p>
	        <%= label_tag 'billing_info[expires_month]', 'Expires', :class => 'block' %>
			<%= text_field_tag 'billing_info[expires_year]', nil, :class => 'required tiny_text_field left hintable', :title => 'Year' %>
			<%= text_field_tag 'billing_info[expires_month]', nil, :class => 'required tiny_text_field hintable', :title => 'Month' %>
		</p>
		<p>
			<%= check_box_tag 'agree', 1, false, :class => 'required' %> <%= label_tag 'agree', "I agree to the #{link_to 'Terms of Service', '#', :class => 'tos' }" %>
		</p>
	</div>
	
	<p class="verisign"><span class="hidden">Verisign Secure</span></p>
	<p class="right">
		<%= ajax_loader %>
        <input id="submit-btn" type="submit" value="Submit" name="commit" />
	</p>
<% end %>
