<% if listing.predefined_specials.count > 1 %>
	<a href="#" class="specializer">more</a>
<% end %>
<div class="more_specials">
<% listing.specials.each do |spec| -%>
	<% next if spec == special %>
	<span class="special_txt" data-context="<%= context %>" data-listing-id="<%= listing.id %>" data-special-id="<%= spec.id %>" title="<%= spec.description %>"><%= spec.title %></span>
<% end -%>
</div>