<span class="special_txt active" data-special-id="<%= listing.special.id %>" title="<%= listing.special.description %>"><%= listing.special.title %></span>
<a href="#" class="specializer">more</a>
<div class="more_specials">
<% listing.specials.each do |special| %>
	<% next if special == listing.special %>
	<span class="special_txt" data-special-id="<%= special.id %>" title="<%= special.description %>"><%= special.title %></span>
<% end %>
</div>