<div id="web_special_wrap" class="dp">
	<%= render :partial => 'shared/smalllogo' %>
	<p>
		<%= listing.title %><br />
		<%= listing.address %><br />
		<%= listing.city %>, <%= listing.state %> <%= listing.zip %>
	</p>
	<div id="print_content"></div>
</div>