<div id="login_page">
	<% form_for (@user_session ||= UserSession.new), :html => { :class => 'silent' } do |f| %>
		<fieldset>
			<%= display_message flash %>
			
			<div id="login-form">
				<div class="stack i">
					<%= f.label :email, nil, :class => 'hide' %>
					<div class="shadow_wrap">
		  				<%= f.text_field :email, :value => (flash[:quick_login] ? flash[:quick_login][0] : params[:email]), :class => "email hintable#{ ' focus_onload' unless params[:email]}", :title => 'Your Email Address' %>
					</div>
				</div>
	
				<div class="stack i">
		  			<%= f.label :password, nil, :class => 'hide' %>
					<div class="shadow_wrap">
				  		<%= f.password_field :password, :value => (flash[:quick_login][1] if flash[:quick_login]), :class => "required#{ ' focus_onload' if params[:email]}" %>
					</div>
				</div>
	
				<div class="uncollapse">
					<div class="left">
						<%= f.check_box :remember_me %><%= f.label :remember_me, nil, :id => 'remember_me' %>
						<%= link_to 'Forgot Password?', new_password_reset_path, :id => 'forgot_pass_link' %>
					</div>
					
					<div class="right region">
						<%= f.submit 'Login', :class => 'bigblue_btn' %>
					</div>
				</div>
			</div>
		</fieldset>
	<% end %>
</div>