<div id="head" class="blue head">
	<h5 class="white">
		<%= listing.reviews.empty? ? "Be the first one to review" : "Here's what #{listing.reviews.size > 1 ? 'other people have' : 'another person has'} to say about " %>
		<a href="<%= facility_path_for listing %>"><%= listing.title %>.</a>
	</h5>
</div>
	
</div>

<div class="inner border_box">
	<% unless listing.reviews.empty? %>
		<ul id="reviews_list">
			<%= render :partial => 'comments/review', :collection => listing.reviews %>
		</ul>
	<% end %>
	
	<%= write_review_link listing.id %>
</div>