<fieldset>	
	<div class="uncollapse stack">
		<div class="left">
			<div class="stack">
				<%= f.label :title %>
				<div class="shadow_wrap">
					<%= f.text_field :title, :class => 'required' %>
				</div>
			</div>
			
			<div>
				<%= f.label :description %>
				<div class="shadow_wrap">
					<%= f.text_area :description, :class => 'required small_textarea' %>
				</div>
			</div>
		</div>

		<%= image_tag @image.image.url(:thumb), :class => 'right' if @image.image.exists? %>
	</div>
	
	<div class="stack">
		<%= f.label :tag_list %>
		<div class="shadow_wrap">
			<%= f.text_field :tag_list, :class => 'hintable', :title => 'Comma separated' %>
		</div>
	</div>
	
	<div class="stack">
		<%= f.label :content %>
		<div class="shadow_wrap">
			<%= f.text_area :content, :class => 'required wysiwyg small_textarea' %>
		</div>
	</div>
	
	<div class="stack imgfield">
		<%= link_to 'Upload image', '#slideDown_.adupload_.imgfield', :class => 'toggle_action toggle_right' %>
		<div class="framed adupload<%= ' hide' if @image.image_file_size.blank? %>">
			<%= f.file_field :image %>
		</div>
	</div>
	
	<div class="stack imgurl">
		<%= link_to 'Or use image url', '#slideDown_.adimgurl_.imgurl', :class => 'toggle_action toggle_right' %>
		<div class="framed adimgurl<%= ' hide' if @image.image_file_name.blank? %>">
			<%= text_field_tag :url_to_image, nil, :class =>'hintable', :title => 'http://somedomain.com/path/to/the/img.jpg' %>
		</div>
	</div>
	
	<% unless @image.new_record? %>
		<%= link_to 'Destroy', "/images/#{@image.id}?_method=delete", :class => 'delete_link greyConfirm' %>
	<% end %>
</fieldset>