<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <%= stylesheet_link_tag @plugin_css, 'common', @theme_css, :recursive => true, :cache => "cache/all" %>
        <%= stylesheet_link_tag 'print', :media => 'print' %>
        
        <meta charset="utf-8" />
        <title><%= yield :title %></title>
        <%= javascript_include_tag 'swfobject_modified', 'ckeditor/ckeditor', 'jquery.all', "plugins/inflector", "plugins/jquery.iframe", "plugins/jquery.jqDock.min", "plugins/jquery.inline-search", "plugins/jquery.tools.min", "plugins/jquery.jmap.min", "plugins/jquery.preloadCssImages", "plugins/binfo", 'greymatter', "plugins/greyresults", 'application', :recursive => true, :cache => "cache/all" %>
        <!--[if IE]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!--[if lte IE 7]>
            <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
        <![endif]-->
    </head>
    <body id="<%= controller_name %>_controller" class="<%= action_name %>_action <%= page_name + (@page.nil? || @page.new_record? ? ' non_page' : '') %><%= current_user ? ' authenticated' : '' %><%= current_user && current_user.has_role?('admin') ? ' admin' : '' %>">
       
		<%= yield %>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '<%= $_usssl_google_analytics %>']);
		  _gaq.push(['_setDomainName', 'usselfstoragelocator.com']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<script type="text/javascript">
			var websiteId = 3817;
			var httpReferer = escape(document.referrer);
		</script>
		<script type="text/javascript" src="//www.myseotool.com/members/tracker.js"></script>
    </body>
</html>