<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <%= stylesheet_link_tag STYLESHEET_INCLUDES, :recursive => true, :cache => 'cache/all' %>
        <%= stylesheet_link_tag 'print', :media => 'print' %>
		
        <meta charset="utf-8" />
        <%= site_meta_tags %>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="alternate" type="application/rss+xml" title="Self Storage Blog" href="http://<%= request.host %>/blog.rss" />
        <title><%= yield :title %></title>
		
		<%= "<script type='text/javascript' src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{GOOGLE_APPLICATION_ID}'></script>" if action_name =~ /(home)|(locator)/ || (controller_name == 'listings' && in_mode?('show')) %>
		<%= '<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=mastermindxs"></script>' if params[:title] =~ /(storage-tips)|(blog)/i %>
		<%= javascript_include_tag 'ckeditor/ckeditor.js' if current_user && current_user.has_role?('admin', 'staff') && (in_mode?('new', 'edit') || controller_name == 'admin') %>
		<%= "<script type='text/javascript'>var usssl_stat_path = '#{get_stat_path_by_user (@user_stat || UserStat.new)}';</script>" if user_is_a? 'advertiser', 'tenant' rescue mylogger('USER STAT ERROR: ' + $!.message) %>
		<%= "<script type='text/javascript'>var Gmaps_data = #{@map_data.to_json}</script>" unless @map_data.nil? %>
		<%= javascript_include_tag  JAVASCRIPT_INCLUDES, :recursive => true, :cache => 'cache/all' %>
        <!--[if IE]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 7]>
            <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
        <![endif]-->
        <!--[if lt IE 7]>
            <script type="text/javascript" src="javascripts/jquery.dropdown.js"></script>
        <![endif]-->
    </head>
    <body id="<%= controller_name %>_controller" class="<%= action_name %>_action <%= page_name + (@page.nil? || @page.new_record? ? ' non_page' : '') %><%= current_user ? ' authenticated' : '' %><%= current_user && current_user.has_role?('admin') ? ' admin' : '' %>">
        <div id="topbar">
            <%= render :partial => 'menus/topnav' %>
        </div>

		<div id="topblock1">
			<a href="/self-storage-advertising">
				<span class="inner">
					<span class="p"><strong>ACTIVATE</strong> your facility Now for <strong>FREE</strong> (you're already listed) and be eligible to win an <strong>Apple iPad!</strong><span id="btn">more info</span></span>
					<img src="/images/ui/storagelocator/ipad4.png" alt="iPad Giveaway"/>
				</span>
			</a>
		</div>

		<!--[if lte IE 6]>
            <div id="ie_warn">
				It seems you are using a very outdated browser which does not support all of the features of this website. 
				It is recommended to <a href="http://www.mozilla.com/en-US/firefox/" target="_blank">upgrade your browser</a> 
				to benefit from security enhancements as well as being able to use cool websites like this one.
			</div>
        <![endif]-->

		<div id="page-ctr">
            
			<div id="highlight">
				<div id="latch-img"></div>
				<div id="head-ctr">
	                <div id="head-ctr-in">
	                    <div id="oldlogo">
	                        <object type="application/x-shockwave-flash" data="<%= request.protocol + request.host %>/images/ui/storagelocator/usselfstoragelocator-flogo.swf" id="FlashID" width="80" height="90">
	                          	<param name="movie" value="<%= request.protocol + request.host %>/images/ui/storagelocator/usselfstoragelocator-flogo.swf" />
	                          	<param name="quality" value="high" />
							  	<param name="allowscriptaccess" value="samedomain" />
	                          	<param name="wmode" value="transparent" />
	                          	<param name="swfversion" value="6.0.65.0" />
	                          	<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
	                          	<param name="expressinstall" value="<%= request.protocol + request.host if RAILS_ENV != 'development' %>/files/expressInstall.swf" />
	                          	<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
	                          	<!--[if !IE]>-->
	                          	<object type="application/x-shockwave-flash" data="<%= request.protocol + request.host %>/images/ui/storagelocator/usselfstoragelocator-flogo.swf" width="80" height="90">
	                            <!--<![endif]-->
	                            	<param name="quality" value="high" />
	                            	<param name="wmode" value="opaque" />
	                            	<param name="swfversion" value="6.0.65.0" />
	                            	<param name="expressinstall" value="<%= request.protocol + request.host %>/files/expressInstall.swf" />
	                            	<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
	                            	<a href="/"><img src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/usselfstoragelocator.jpg" alt="USSelfStorageLocator.com" /></a>
	                            <!--[if !IE]>-->
	                        	</object>
	                          	<!--<![endif]-->
	                        </object>
	                        <img id="logoshadow" src="<%= request.protocol %>s3.amazonaws.com/storagelocator/images/ui/storagelocator/globe-shadow-sm.png" alt="shadow"/>
	                    </div>
	                    <div id="title">
	                        <p><a href="<%= request.protocol + request.host %>">USSelfStorageLocator.com</a></p>
	                        <h1><%= @slogan %></h1>
	                    </div>
                    
	                    <%= render :partial => 'pages/home' %>
                    
	                </div>
	            </div><!-- END header container -->
            
				<div id="bluebar"><%= yield :head_bar %></div>
                
				<div id="page-ctr-in">

	                <div id="page-cnt">
	                    <div id="page-cnt-top-bg">
	                        <div id="type-one-cnt-in">
	                            <!-- Start the editable area -->
	                            <a id="top"></a>
	                            <div id="content">
									
	                                <%= yield %>
									
	                                <div id="column_5" class="region">
	                                    <%= yield :column_5 %>
	                                </div>
	                            </div><!-- /the stuff -->
	                            <div id="content_bottom" class="region">
	                                <%= yield :content_bottom %>
	                            </div>
	                            <div class="clear"></div><!-- End the editable area -->
	                        </div>
	                    </div>
	                    <div class="clear"></div>
	                </div><!-- END main content area -->
          
				</div><!-- END page-container-inner -->
        	
			</div>
		
		</div><!-- END page-container-outer -->
		
		<div id="more_info">
            <%= yield :more_info %>
        </div>
	
		<div id="footer">
            <%= yield :footer %>
        </div>
		
		<div id="pop_up" class="login_box hide">
			<%= render :partial => 'user_sessions/form' %>
		</div>
		
        <script type="text/javascript">
            swfobject.registerObject("FlashID");
            ussslgid = '<%= GOOGLE_APPLICATION_ID %>';
        </script>
		
		<% if in_production? %>
			<% unless is_admin? %>
				<!-- Start of GetSatisfaction Feedback Tab Code  -->
				<script type="text/javascript" src="//s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js"></script>
				<script type="text/javascript">
					var feedback_widget = new GSFN.feedback_widget({
						display   : 'overlay',
						company   : 'usselfstoragelocator',
						placement : 'right',
						color 	  : '#393',
						style 	  : 'question'
					});
				</script>
				<script type="text/javascript" src="//asset0.zendesk.com/external/zenbox/v2.1/zenbox.js"></script>

				<!-- Start of Zendesk Dropbox Code  -->
				<script type="text/javascript">
					if (typeof(Zenbox) !== 'undefined') Zenbox.init({
						dropboxID:   "14160",
						url:         "https://usselfstoragelocator.zendesk.com",
						tabID:       "support",
						tabColor:    "#339933",
						tabPosition: "Left"
					});
				</script>
			<% end %>
			
			<!-- Start of Google Analytics Code  -->
			<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', '<%= $_usssl_google_analytics %>']);
			  _gaq.push(['_trackPageview']);
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
			
			<!-- Start of MySEOTool Code  -->
			<script type="text/javascript">
				var websiteId = 4623;
				var httpReferer = escape(document.referrer);
			</script>
			<script type="text/javascript" src="//www.myseotool.com/members/tracker.js"></script>
			
			<!-- Start of HubSpot Logging Code  -->
			<script type="text/javascript">
				var hs_portalid = 16986; 
				var hs_salog_version = "2.00";
				var hs_ppa = "usselfstoragelocator.app101.hubspot.com";
				document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
			</script>
		<% end %>
    </body>
</html>