<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <%= stylesheet_link_tag @plugin_css, 'common' %>
        <%= yield :stylesheets %>
        <%= stylesheet_link_tag 'print', :media => 'print' %>
        <%= stylesheet_link_tag @theme_css %>
        
        <meta charset="utf-8" />
        <%= site_meta_tags %>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <title><%= yield :title %></title>
        
        <!--[if IE]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 7]>
            <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
        <![endif]-->
        <!--[if lt IE 7]>
            <script type="text/javascript" src="javascripts/jquery.dropdown.js"></script>
        <![endif]-->
        
		<%= javascript_include_tag 'swfobject_modified' if @page && @page.id == 1 -%>
        <%= javascript_include_tag 'ckeditor/ckeditor.js' if current_user && current_user.has_role?('admin') && ['new', 'edit'].include?(action_name) -%>
        <%= javascript_include_tag 'jquery.all' -%>
        <script type='text/javascript' src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GOOGLE_APPLICATION_ID %>'></script>
		<% unless @map_data.nil? -%><script type="text/javascript">var Gmaps_data = <%= @map_data.to_json %>;</script><% end %>
        <%= if params[:title] == 'storage-tips' then '<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=mastermindxs"></script>' end -%>
        <%= javascript_include_tag @plugins -%>
        <%= yield :scripts -%>
		<%= "<script type='text/javascript'>var usssl_stat_path = '#{user_user_stat_path current_user, @user_stat}';</script>" if current_user && !is_admin? -%>
        <%= javascript_include_tag 'greymatter', 'application' -%>
		<%= javascript_include_tag 'swfobject_modified' %>
    </head>
    <body id="<%= controller_name %>_controller" class="<%= action_name %>_action <%= page_name + (@page.nil? || @page.new_record? ? ' non_page' : '') %><%= current_user ? ' authenticated' : '' %><%= current_user && current_user.has_role?('admin') ? ' admin' : '' %>">
        <div id="topbar">
            <%= render :partial => 'menus/topnav' %>
        </div>
		<!--[if lte IE 6]>
            <div id="ie_warn">
				It seems you are using a very outdated browser which does not support all of the features of this website. 
				It is recommended to <a href="http://www.mozilla.com/en-US/firefox/" target="_blank">upgrade your browser</a> 
				to benefit from security enhancements as well as being able to use cool websites like this one.
			</div>
        <![endif]-->
        <div id="page-ctr">
            <div id="head-ctr">
                <div id="head-ctr-in">
                    <div id="oldlogo">
                        <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="124" height="146">
                          <param name="movie" value="<%= request.protocol + request.host %>/images/ui/storagelocator/usselfstoragelocator-slogo.swf" />
                          <param name="quality" value="high" />
                          <param name="wmode" value="transparent" />
                          <param name="swfversion" value="6.0.65.0" />
                          <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
                          <param name="expressinstall" value="<%= request.protocol + request.host %>/files/expressInstall.swf" />
                          <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
                          <!--[if !IE]>-->
                          <object type="application/x-shockwave-flash" data="<%= request.protocol + request.host %>/images/ui/storagelocator/usselfstoragelocator-slogo.swf" width="124" height="146">
                            <!--<![endif]-->
                            <param name="quality" value="high" />
                            <param name="wmode" value="opaque" />
                            <param name="swfversion" value="6.0.65.0" />
                            <param name="expressinstall" value="<%= request.protocol + request.host %>/files/expressInstall.swf" />
                            <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
                            <a href="/"><img src="<%= request.protocol + request.host %>/images/ui/storagelocator/usselfstoragelocator-slogo.png" alt="US Self Storage Locator" /></a>
                            <!--[if !IE]>-->
                          </object>
                          <!--<![endif]-->
                        </object>
                        <img id="logoshadow" src="/images/ui/storagelocator/globe-shadow-sm.png" alt="US Self Storage Locator" />
                    </div>
                    <div id="title">
                        <p class="hidden">USSelfStorageLocator.com - Find self storage anywhere</p>
                        <h1><%= @slogan %></h1>
                    </div>
                    
                    <%= render :partial => 'pages/home' %>
                    
                </div>
            </div><!-- END header container -->
            <div id="bluebar"><%= yield :head_bar %></div>
                
                <div id="page-ctr-in">

                <div id="page-cnt">
                    <div id="page-cnt-top-bg">
                        <div id="type-one-cnt-in">
                            <!-- Start the editable area -->
                            <a name="top" id="top"></a>
                            <div id="content">

                                <%= yield %>

                                <div id="column_5" class="region">
                                    <%= yield :column_5 %>
                                </div>
                            </div><!-- /the stuff -->
                            <div id="content_bottom" class="region">
                                <%= yield :content_bottom %>
                            </div>
                            <div class="clear"></div><!-- End the editable area -->
                        </div>
                    </div>
                    <div class="clear"></div>
                </div><!-- END main content area -->
            </div><!-- END page-container-inner -->

            <div id="latch-img"></div>
        </div><!-- END page-container-outer -->
        <div id="footer">
            <%= yield :footer %>
        </div>

		<div id="pop_up_box"><%= render :partial => 'user_sessions/form' %></div>

        <script type="text/javascript">
            swfobject.registerObject("FlashID");
            ussslgid = '<%= GOOGLE_APPLICATION_ID %>';
        </script>
		<% if in_production? %>
			<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-20270920-1']);
			  _gaq.push(['_trackPageview']);
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
			<script type="text/javascript">
				var websiteId = 4623;
				var httpReferer = escape(document.referrer);
			</script>
			<script type="text/javascript" src="//www.myseotool.com/members/tracker.js"></script>
			<!-- KISSinsights for usselfstoragelocator.com -->
			<script type="text/javascript">var _kiq = _kiq || [];</script>
			<script type="text/javascript" src="//s3.amazonaws.com/ki.js/12495/2ec.js" async="true"></script>
			<% if current_user %>
			<script type="text/javascript" charset="utf-8">
				_kiq.push(['identify', <%= current_user.id %>]);
			</script>
			<% end %>
			<!-- Start of HubSpot Logging Code  -->
			<script type="text/javascript" language="javascript">
				var hs_portalid = 16986; 
				var hs_salog_version = "2.00";
				var hs_ppa = "usselfstoragelocator.app101.hubspot.com";
				document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<!-- End of HubSpot Logging Code -->
		<% end %>
    </body>
</html>